		<hr />
		<!-- page-foot -->
		<div class="page-foot" id="footer">
			<!-- section -->
			<div class="section company-info">
				<div class="section-head"><h2 class="section-subject"><span class="section-name">기업정보</span></h2></div>
				<div class="section-body">
					<ul class="navi-list">
						<li class="navi-item"><a class="navi-name" href="#">PC버전</a></li>
						<li class="navi-item"><a class="navi-name" href="#">로그아웃</a></li>
					</ul>
				</div>
			</div>
			<!-- //section -->
			<p class="copyright">U:COMPANION. ALL RIGHT RESERVED.</p>
		</div>
		<!-- //page-foot -->