<!-- layer-popup -->
<div class="layer-popup module-a style-a type-a medium" id="conceptGrowth" data-bui-toggle="contentsPopup"><!-- //2022-02-14 수정 : id 명 변경 -->
	<div class="popup-page-body">
		<!-- popup-local -->
		<div class="popup-local">
			<!-- popup-local-head -->
			<div class="popup-local-head">
				<h2 class="popup-local-title"><span class="popup-local-name">성장성</span></h2>
			</div>
			<!-- //popup-local-head -->
			<!-- popup-local-body -->
			<div class="popup-local-body">
				<div class="popup-content">
					<!-- popup-content-body -->
					<div class="popup-content-body">
						<!-- section -->
						<div class="section style-a">
							<div class="section-head">
								<h3 class="section-title"><span class="section-name">성장성</span></h3>
							</div>
							<div class="section-body">
								<p class="para">회사의 규모나 경영 성과의 성장 추세를 파악할 수 있는 지표.<br />
									성장성이 높을수록 미래 수익창출 능력과 경쟁력이 높다고 볼 수 있음.
								</p>
							</div>
						</div>
						<!-- //section -->
						<!-- section -->
						<div class="section style-a">
							<div class="section-head">
								<h3 class="section-title"><span class="section-name">성장성 지표</span></h3>
							</div>
							<div class="section-body">
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">1. 총자본증가율(%)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">기업에 투하, 운용된 총 자본이 당해 연도에 얼마나 증가하였는가를 나타내는 비율로서 기업의 전체적인 성장 규모를 측정하는 지표로, ((당기말총자본-전기말총자본)/전기말총자본)*100으로 구함.</p>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">2. 유형자산증가율(%)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">토지, 건물, 기계 등의 유형자산에 대한 투자가 당해 연도에 얼마나 활발하게 이루어졌는가를  나타내는  지표로, ((당기말유형자산-전기말유형자산)/전기유형자산)*100으로 구함.</p>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">3. 자기자본증가율(%)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">자기자본이  당해  연도에  어느  정도  증가하였는지를  나타내는  지표로, ((당기말자기자본-전기말자기자본)/전기말자기자본)*100으로 구함.</p>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">4. 매출액증가율(%)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">전년도 매출액에 대한 당해 연도 매출액의 증가율로서 기업의 외형적 신장세를 판단하는 대표적인 지표임. 경쟁기업보다 빠른 매출액증가율은 시장점유율의 증가를의미하므로 경쟁력 변화를 나타내는 척도의 하나가 되며, ((당기매출액-전기매출액)/전기매출액)*100으로 구함.</p>
									</div>
								</div>
								<!-- //subsection -->
							</div>
						</div>
						<!-- //section -->
					</div>
					<!-- //popup-content-body -->
				</div>
			</div>
			<!-- //popup-local-body -->
		</div>
		<!-- //popup-local -->
	</div>
</div>
<!-- //layer-popup -->