<!-- layer-popup -->
<div class="layer-popup module-a style-a type-a medium" id="conceptProdProfit" data-bui-toggle="contentsPopup"><!-- //2022-02-14 수정 : id 명 변경 -->
	<div class="popup-page-body">
		<!-- popup-local -->
		<div class="popup-local">
			<!-- popup-local-head -->
			<div class="popup-local-head">
				<h2 class="popup-local-title"><span class="popup-local-name">수익성</span></h2>
			</div>
			<!-- //popup-local-head -->
			<!-- popup-local-body -->
			<div class="popup-local-body">
				<div class="popup-content">
					<!-- popup-content-body -->
					<div class="popup-content-body">
						<!-- section -->
						<div class="section style-a">
							<div class="section-head">
								<h3 class="section-title"><span class="section-name">수익성</span></h3>
							</div>
							<div class="section-body">
								<p class="para">회사가 얼마나 많은 이익을 창출하는지 파악할 수 있는 지표.</p>
							</div>
						</div>
						<!-- //section -->
						<!-- section -->
						<div class="section style-a">
							<div class="section-head">
								<h3 class="section-title"><span class="section-name">수익성 지표</span></h3>
							</div>
							<div class="section-body">
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">1. 매출액영업이익률(%)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">매출액에 대한 영업이익의 관계를 나타내는 비율로서 기업이 제조 및 판매활동으로 얻은 영업이익을 매출액과 대비한  판매마진을 나타냄. 기업의 주된 영업활동의 능률을 측정하는 기준이 되며 기업의 수익성을 판단하는 지표로 (영업이익/매출액)*100으로 구함.</p>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">2. 총자본증가율(%)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">기업에 투하, 운용된 총 자본이 당해 연도에 얼마나 증가하였는가를 나타내는 비율로서 기업의  전체적인  성장 규모를  측정하는 지표로, ((당기말총자본-전기말총자본)/전기말총자본)*100으로 구함.</p>
									</div>
								</div>
								<!-- //subsection -->
							</div>
						</div>
						<!-- //section -->
					</div>
					<!-- //popup-content-body -->
				</div>
			</div>
			<!-- //popup-local-body -->
		</div>
		<!-- //popup-local -->
	</div>
</div>
<!-- //layer-popup -->