<!-- layer-popup -->
<div class="layer-popup module-a style-a type-a medium" id="conceptMgmtEfficiency" data-bui-toggle="contentsPopup"><!-- //2022-02-14 수정 : id 명 변경 -->
	<div class="popup-page-body">
		<!-- popup-local -->
		<div class="popup-local">
			<!-- popup-local-head -->
			<div class="popup-local-head">
				<h2 class="popup-local-title"><span class="popup-local-name">경영효율성</span></h2>
			</div>
			<!-- //popup-local-head -->
			<!-- popup-local-body -->
			<div class="popup-local-body">
				<div class="popup-content">
					<!-- popup-content-body -->
					<div class="popup-content-body">
						<!-- section -->
						<div class="section style-a">
							<div class="section-head">
								<h3 class="section-title"><span class="section-name">경영효율성</span></h3>
							</div>
							<div class="section-body">
								<p class="para">기업 경영의 전반적 효율성을 나타내기 위한 지표.</p>
							</div>
						</div>
						<!-- //section -->
						<!-- section -->
						<div class="section style-a">
							<div class="section-head">
								<h3 class="section-title"><span class="section-name">경영효율성 지표</span></h3>
							</div>
							<div class="section-body">
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">1. 재고자산회전율(회전)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">재고자산이 일정 기간에 몇 번이나 당좌자산(현금 또는 매출채권)으로 전환되었는가를 측정하는 것임. 이 비율이 낮으면 매출액에 비해 과다한 재고를 보유하고 있음을 의미하고, 높으면 적은 재고자산으로 생산 및 판매활동을 효율적으로 수행하고 있음을 나타냄. 재고자산회전율이 높을수록 자본수익성이 높아지고 매입채무가 감소되며, 상품의 재고손실을 막고 보관비용을 절약할 수 있어 경영에 유리함. 반면 이 비율이 낮아지면 재고자산에 대한 투자의 과다현상으로 자본수익률이 낮아지고 매입채무가 증대되며, 상품의 재고손실이 발생할 수 있고 보관 유지비, 보험료 등의 추가부담이 발생함. 즉, 재고자산회전율이 낮을수록 자본 구속 기간이 길어지고 그만큼 현금화 속도는 늦어져 결국 재무 유동성은 질적으로 저하되게 되며 이는 매출액/재고자산으로 구함.</p>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">2. 매출채권회전율(회전)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">매출채권의 현금화 속도를 측정하는 비율로서 이 비율이 높을수록 매출채권의 현금화 속도가 빠르다는 것을 의미하며 매출액/매출채권으로 구함.</p>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">3. 총자본회전율(회전)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">총 자본이 1년 동안 몇 번 회전하였는가를 나타내는 비율로서 기업에 투하한 총자본의 운용효율을 총괄적으로 표시하는 지표로 매출액/총자본으로 구함.</p>
									</div>
								</div>
								<!-- //subsection -->
							</div>
						</div>
						<!-- //section -->
					</div>
					<!-- //popup-content-body -->
				</div>
			</div>
			<!-- //popup-local-body -->
		</div>
		<!-- //popup-local -->
	</div>
</div>
<!-- //layer-popup -->