<!-- layer-popup -->
<div class="layer-popup module-a style-a type-a medium" id="conceptStability" data-bui-toggle="contentsPopup"><!-- //2022-02-14 수정 : id 명 변경 -->
	<div class="popup-page-body">
		<!-- popup-local -->
		<div class="popup-local">
			<!-- popup-local-head -->
			<div class="popup-local-head">
				<h2 class="popup-local-title"><span class="popup-local-name">안정성</span></h2>
			</div>
			<!-- //popup-local-head -->
			<!-- popup-local-body -->
			<div class="popup-local-body">
				<div class="popup-content">
					<!-- popup-content-body -->
					<div class="popup-content-body">
						<!-- section -->
						<div class="section style-a">
							<div class="section-head">
								<h3 class="section-title"><span class="section-name">안정성</span></h3>
							</div>
							<div class="section-body">
								<p class="para">회사의 지급 능력과 부채 상환 능력을 통해 재무 건정성을 판단하는 지표. 안정성이 높은 회사일수록 재무 건전성이 높고 자금조달이 원활하다고 볼 수 있음.</p>
							</div>
						</div>
						<!-- //section -->
						<!-- section -->
						<div class="section style-a">
							<div class="section-head">
								<h3 class="section-title"><span class="section-name">안정성 지표</span></h3>
							</div>
							<div class="section-body">
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">1. 유동비율(%)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">단기채무에 충당할 수 있는 유동성자산이 얼마나 되는가를 나타내는 지표로 (유동자산/유동부채)*100으로 구함. 일정 시점에서의 재고자산, 당좌자산 등의 유동자산과 매입채무, 단기차입금 등의 유동부채를 대비시킨 것이므로 기업 청산 시의 단기지급능력으로 볼 수 있지만 기업의 계속성을 고려해 오히려 지급능력보다는 경영상태의 양부를 판단하는 기준으로 활용되기도 함. 이 비율이 너무 높으면 비수익성 자산인 유동자산이 너무 많은 상태임을 의미하므로 수익성이 저하되는 결과가 나타날  수 있음.</p>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">2. 당좌비율(%)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">기업의 단기부채 지급능력을 판단할 때 재고자산의 처분 없이 이행할 수 있는지를 확인할 때 사용하며 (당좌자산/유동부채)*100으로 구함.</p>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">3. 부채비율(%)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">부채(타인자본)가  자기자본을  초과하지 않는 것이 이상적이므로 부채비율은 100% 이하를 양호한 수준으로 판단함. 유의하여야 할 점은 이자율만 낮다면 기업 경영에서 부채는 유용하게 활용될 수 있으며, 이자율보다 투자수익률이 높은 경우 부채를 이용함으로써 기업의 수익성 향상도 가능함. (타인자본/자기자본)*100으로 구함.</p>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">4. 고정비율(%)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">기업 자산의 고정화 위험을 측정하는 대표적인 비율로서 운용 기간이 비교적 장기에 속하는 고정자산(비유동자산)을 얼마나 자기자본으로 충당하였는가를 나타내는 지표임. 고정적인 자산은 자기자본으로 충당하는 것이 안정적이므로 고정비율은 100% 이하를 양호한 상태로 보며 (고정자산/자기자본)*100으로구함. </p>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">4. 고정장기적합률(%)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">자기자본 및 고정부채가 고정자산에 어느 정도 투입되어 운용되고 있는가를 나타내는 지표로 기업의 안정성을 측정함에 있어 고정 비율의 보조지표로 사용됨. 거액의 설비자본 투자가 필요한 경우 부족한 자금을 일부 타인자본으로 충당하더라도 비교적 안전성이 높은 장기부채로 조달하는 것이 바람직하다는 의미에서 이 비율은 100% 이하를 표준비율로 보고 있으며 (고정자산/(자기자본+고정부채))*100으로 구함.</p>
									</div>
								</div>
								<!-- //subsection -->
							</div>
						</div>
						<!-- //section -->
					</div>
					<!-- //popup-content-body -->
				</div>
			</div>
			<!-- //popup-local-body -->
		</div>
		<!-- //popup-local -->
	</div>
</div>
<!-- //layer-popup -->