<!-- layer-popup -->
<div class="layer-popup module-a style-a type-a medium" id="conceptCost" data-bui-toggle="contentsPopup"><!-- //2022-02-14 수정 : id 명 변경 -->
	<div class="popup-page-body">
		<!-- popup-local -->
		<div class="popup-local">
			<!-- popup-local-head -->
			<div class="popup-local-head">
				<h2 class="popup-local-title"><span class="popup-local-name">비용</span></h2>
			</div>
			<!-- //popup-local-head -->
			<!-- popup-local-body -->
			<div class="popup-local-body">
				<div class="popup-content">
					<!-- popup-content-body -->
					<div class="popup-content-body">
						<!-- section -->
						<div class="section style-a">
							<div class="section-head">
								<h3 class="section-title"><span class="section-name">비용</span></h3>
							</div>
							<div class="section-body">
								<p class="para">회사의 비용구조를 파악하는 지표.<br />
									비용 관련 지표들이 클수록 회사의 경영활동에서 비용이 큰 비율을 차지한다고 볼 수 있음.
								</p>
							</div>
						</div>
						<!-- //section -->
						<!-- section -->
						<div class="section style-a">
							<div class="section-head">
								<h3 class="section-title"><span class="section-name">비용 지표</span></h3>
							</div>
							<div class="section-body">
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">1. 인건비비율(%)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">인건비비율이 높을수록 상대적으로 기업의 인건비 부담이 크다고 볼 수 있음. 단, 인건비비율은 기업의 노동과 자본 간의 결합을 결정하는 기술 상황, 업종 및 자본 구조, 그 외 다양한 제도적 요인에 영향을 받음. (인건비/매출액)*100으로 구함. </p>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">2. 매출원가율(%)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">매출총이익률과 표리의 관계가 있으므로  이  비율이  낮을수록 기업 이익이 커지며, (매출원가/매출액)*100으로 구함.</p>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">3. 판매비와일반관리비율(%)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">판매비와 관리비가 매출액에서 차지하는 비중을 나타낸 것으로서(판매비와 관리비/매출액)*100으로 구함.</p>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">4. 이자보상비율(%)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">이자 지급에 필요한 수익을 창출할 수 있는 능력을 측정하기 위한 지표로 이자부담능력을 판단하는데 유용한 지표임. 이자가 기업에 어느 정도의 압박을 가져오는가를 보기 위한 것으로서 이 비율이 낮으면 영업이익에 비하여 금융비용의  압박이 크다는 것을 뜻하며 (영업이익/이자비용)*100으로 구함.</p>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">4. 총이자부담률(%)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">금융비용과 부채의 비율로, 비이자부부채(이자부부채와 매입채무, 선수금, 충단금과 같이 이자를 부담하지 않는 부채)를 포함한 총부채에 대한 금융비용의 비율을 말하며 (이자비용/부채)*100으로 구함.</p>
									</div>
								</div>
								<!-- //subsection -->
							</div>
						</div>
						<!-- //section -->
					</div>
					<!-- //popup-content-body -->
				</div>
			</div>
			<!-- //popup-local-body -->
		</div>
		<!-- //popup-local -->
	</div>
</div>
<!-- //layer-popup -->