<!-- layer-popup -->
<div class="layer-popup module-a style-a type-a medium" id="conceptMgmtProfit" data-bui-toggle="contentsPopup"><!-- //2022-02-14 수정 : id 명 변경 -->
	<div class="popup-page-body">
		<!-- popup-local -->
		<div class="popup-local">
			<!-- popup-local-head -->
			<div class="popup-local-head">
				<h2 class="popup-local-title"><span class="popup-local-name">수익성</span></h2>
			</div>
			<!-- //popup-local-head -->
			<!-- popup-local-body -->
			<div class="popup-local-body">
				<div class="popup-content">
					<!-- popup-content-body -->
					<div class="popup-content-body">
						<!-- section -->
						<div class="section style-a">
							<div class="section-head">
								<h3 class="section-title"><span class="section-name">수익성</span></h3>
							</div>
							<div class="section-body">
								<p class="para">회사가 얼마나 이익을 많이 창출하는지 성과를 파악할 수 있는 지표. 수익성이 높은 회사일수록 회사의 이익창출 능력과 경영성과가 우수하다고 볼 수 있음.</p>
							</div>
						</div>
						<!-- //section -->
						<!-- section -->
						<div class="section style-a">
							<div class="section-head">
								<h3 class="section-title"><span class="section-name">수익성 지표</span></h3>
							</div>
							<div class="section-body">
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">1. 총자본순이익률(%)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">기업의 수익성을 대표하는 비율로, (당기순이익/총자본)*100으로 구함. 하지만, 당기순이익과 총자본 간의 대응관계가 크지 않아 이론적으로는 정확한 자본운용효율을 표시하는 지표라고 보기 어렵다는 비판이 존재하기도함.</p>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">2. 총자본영업이익률(%)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">자본의 종류와 관계없이 그 기업에 투하된 총자본이 결과적으로 얼마만큼의 영업이익을 냈는가를 표시하는 비율임. 기업의 경영활동에 있어서의 능률, 효율, 수익성 등을 종합적으로 파악하는  비율로, (영업이익/총자본)*100으로 구함.</p>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">3. 경영자본영업이익률(%)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">건설 중인 자산, 투자자산 등 영업활동에 직접 사용되지 않은 자산을 제외하고 경영활동에 직접 투하된 경영자본과 경영활동의 운용 결과인 영업이익과의 관계를 나타내는 비율로 영업성적의  양부를  판단하는데  적합한  지표임.
											(영업이익/경영자본)*100으로 구함.</p>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">4. 자기자본영업이익률(%)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">영업이익의 자기자본에 대한 비율로서 출자자 또는 투자자들이 투하자본에 대한 수익성을 측정하는 데 중요한 지표로 이용됨. 이는 자기자본을 100이라 할 때 자기자본에 귀속할 영업이익이 몇 %나 되는가를 나타내는 비율이므로 자기자본순이익률과 더불어 경영자, 투자자는 물론 여신자에게도 중요한 비율임.(영업이익/자기자본)*100으로 구함.</p>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">5. 매출액영업이익률(%)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">매출액에 대한 영업이익의 관계를 나타내는 비율로서 기업이 제조 및 판매활동으로 얻은 영업이익을 매출액과 대비한 판매마진을  나타냄. 기업의 주된 영업활동의 능률을 측정하는 기준이 되며 기업의 수익성을 판단하는 지표로 (영업이익/매출액)*100으로 구함.</p>
									</div>
								</div>
								<!-- //subsection -->
							</div>
						</div>
						<!-- //section -->
					</div>
					<!-- //popup-content-body -->
				</div>
			</div>
			<!-- //popup-local-body -->
		</div>
		<!-- //popup-local -->
	</div>
</div>
<!-- //layer-popup -->