<!-- layer-popup -->
<div class="layer-popup module-a style-a type-a medium" id="conceptProductivity" data-bui-toggle="contentsPopup"><!-- //2022-02-14 수정 : id 명 변경 -->
	<div class="popup-page-body">
		<!-- popup-local -->
		<div class="popup-local">
			<!-- popup-local-head -->
			<div class="popup-local-head">
				<h2 class="popup-local-title"><span class="popup-local-name">생산성</span></h2>
			</div>
			<!-- //popup-local-head -->
			<!-- popup-local-body -->
			<div class="popup-local-body">
				<div class="popup-content">
					<!-- popup-content-body -->
					<div class="popup-content-body">
						<!-- section -->
						<div class="section style-a">
							<div class="section-head">
								<h3 class="section-title"><span class="section-name">생산성</span></h3>
							</div>
							<div class="section-body">
								<p class="para">전통적인(제조업 중심의) 투입 대비 산출 비율로 나타나는 생산성에 서비스업 특성을 포괄할 수 있는 고객 지표를 추가한 서비스 생산성</p>
							</div>
						</div>
						<!-- //section -->
						<!-- section -->
						<div class="section style-a">
							<div class="section-head">
								<h3 class="section-title"><span class="section-name">측정산식</span></h3>
							</div>
							<div class="section-body">
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">1. 종업원1인당부가가치(천원)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">노동생산성을 의미하는 지표로 주로 사용됨. 노동생산성이 높다는 것은 노동력의 효율적 이용이나 자본의 활용 등을  통해서 동일한 노동투입으로 보다 많은 부가가치를 창출할 수 있음을 의미함. 노동생산성은 기업의 발전은 물론 경제 전반의 성장 가능성을 측정하는 데 있어 중요한 지표로 사용되며 부가가치/종업원 수로 구함.</p>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">2. 총자본투자효율(%)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">기업에 투하된 자본이 얼마만큼의 부가가치를 창출했는가를 나타내는 지표로서 경영에 투하된 자본(특히 고정자본)의 효율적 이용도인 자본생산성을 의미함. (부가가치/총자본)*100으로 구함.</p>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">3. 설비투자효율(%)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">기업이 실제로 사용하고 있는 설비투자(건설 중인 자산을 차감한 유형자산)가 어느 정도의 부가가치를 창출하였는가를 나타내는 지표로서 자본생산성의 보조지표로 이용됨. 이 비율이 높을수록 설비자산이 효율적으로 이용되고 있음을 뜻하며 (부가가치/(유형자산-건설중인 자산))*100으로 구함.</p>
									</div>
								</div>
								<!-- //subsection -->
								<!-- subsection -->
								<div class="subsection style-a">
									<div class="subsection-head">
										<h5 class="subsection-title"><span class="subsection-name">4. 고객만족도(점)</span></h5>
									</div>
									<div class="subsection-body">
										<p class="para">고객이 제품 또는 서비스에 대한 전반적 만족 수준을 뜻함.</p>
									</div>
								</div>
								<!-- //subsection -->
							</div>
						</div>
						<!-- //section -->
					</div>
					<!-- //popup-content-body -->
				</div>
			</div>
			<!-- //popup-local-body -->
		</div>
		<!-- //popup-local -->
	</div>
</div>
<!-- //layer-popup -->