<!-- layer-popup -->
<div class="layer-popup module-a style-a type-a medium" id="unsubscribeEmail" data-bui-toggle="contentsPopup">
	<div class="popup-page-body">
		<!-- popup-local -->
		<div class="popup-local">
			<!-- popup-local-head -->
			<div class="popup-local-head">
				<h2 class="popup-local-title"><span class="popup-local-name">이메일무단수집거부</span></h2>
			</div>
			<!-- //popup-local-head -->
			<!-- popup-local-body -->
			<div class="popup-local-body">
				<div class="popup-content">
					<!-- popup-content-body -->
					<div class="popup-content-body">
						<!-- info-board -->
						<div class="info-board module-a style-a type-c attr-unsubscribe-email">
							<div class="board-wrap">
								<div class="board-body">
									<p class="para">KPC 홈페이지와 관련된 이메일로 보내지는 타사의 메일을 차단하기 위해 본 웹사이트에 게시된 이메일주소가 전자우편 수집 프로그램이나 그 밖의 기술적 장치를 이용하여 <strong class="em">무단으로 수집되는 것을 거부</strong>하며, 이를 위반 시 정보통신망법에 의해 형사처벌됨을 유념하시기 바랍니다.</p>
									<p class="para">게시일 2022년 3월 15일</p>
								</div>
							</div>
						</div>
						<!-- //info-board -->
					</div>
					<!-- //popup-content-body -->
				</div>
			</div>
			<!-- //popup-local-body -->
		</div>
		<!-- //popup-local -->
	</div>
</div>
<!-- //layer-popup -->