@import 'partials/_variables';
@import 'partials/_mixin';
@import 'partials/_contents';
@import 'partials/_popup';
@import 'partials/_widget';

:root {
	font-size: 1px;
}

// html,
// body {
// 	height: 100%;
// }

body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	word-break: keep-all;
	@include font((family: default, size: small)...);
	-webkit-text-size-adjust: none;
	overflow-y: scroll;
}

hr {
	display: none;
}

img {
	max-width: 100%;
}

/**
 * @type layout
 * @name page-skip
 */
.page-skip {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 100;
	top: -120rem;
	left: calc(50% - 50vw);
	width: 100vw;
	height: 120rem;
	background-color: color(base, 010);

	.skip-item {
		color: color(base, 100);
		@include font((outline: body, size: medium)...);
	}
	
	&:focus-within {
		top: 0;
	}
}

/**
 * @type layout
 * @name global
 */
#wrap {
	display: flex;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

#page {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	box-sizing: border-box;
}

/**
 * @type layout
 * @name page-body
 */
.page-body {
	padding: 0 16rem;
	box-sizing: border-box;

	// laptop
	@include respond-above(x-large) {
		padding: 0 48rem;
	}
}

/**
 * @type layout
 * @name page-head
 */
.page-head {

}

/**
 * @type layout
 * @name page-body
 */
.page-body {
	flex-grow: 1;
	position: relative;
	width: 100%;
}

/**
 * @type layout
 * @name page-util
 */
.content-util {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
}

/**
 * @type layout
 * @name page-foot
 */
.page-foot {

}


/**
 * @type module
 * @name section
 */
.section.module-a {
	padding: 24rem 0;

	+.section.module-a {
		border-top: 4rem solid color(base, 010);
	}

	.section-head {
		margin-bottom: 16rem;

		.section-title {
			margin: 0;
			color: color(base, 090);
			@include font((outline: body, size: medium)...);

			.section-name {
				display: block;
			}
		}
	}
}