@import 'partials/_variables';
@import 'partials/_mixin';

:root {
	font-size: 1px;
}

.info-board {
	position: relative;
	padding: 24rem 0 16rem 0;
	color: #fff;
	
	&::before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: -96rem;
		left: calc(50% - 50vw);
		width: 100vw;
		border-bottom-left-radius: 24rem;
		background-color: red;
	}

	.board-wrap {
		.board-head {
			.board-summary {
				margin: 0;

				.wbr {
					display: block;
				}
			}
		}
	}
}

.section.my-info {
	padding: 20rem;
	background-color: color(base, 000);

	.section-head {
		@include hidden;
	}

	.section-body {
		.goods-display {
			.goods-title {
				margin: 0;
			}
		}
	}
}