html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	overflow-y: scroll;
	min-height: 100vh;
}

#wrap {
	height: 100vh;
	overflow: hidden;
}

.section {
	height: 100vh;
	&.section-00 {background-color: CadetBlue;}
	&.section-01 {background-color: DarkSeaGreen;}
	&.section-02 {background-color: DarkSlateBlue;}
	&.section-03 {background-color: DarkOliveGreen;}
	&.section-04 {background-color: DarkKhaki;}
	&.section-05 {background-color: red;}
	&.section-06 {background-color: #fff;}
}

.section.footer {
	// height: 120rem;
	// background-color: gray;
}