<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	layoutTemplate: 'front',
	pageStyle: 'front',
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<!-- page -->
	<div id="page">
		<%-include('../_templates/_header.front.ejs', {
			current: '1',
		}) %>
		<!-- page-body -->
		<div class="page-body page-default">
			<!-- local -->
			<div id="local">
				<!-- local-head -->
				<div class="local-head">
					<h2 class="local-title" id="localTitle"><span class="local-name">메인</span></h2>
				</div>
				<!-- //local-head -->
				<!-- local-body -->
				<div class="local-body">
					<!-- content -->
					<div id="content">
						<!-- content-body -->
						<div class="content-body">
							outline

							page h1
								local h2
									content h3
										section h4


							<!-- section -->
							<div class="section">
								<div class="section-wrap">
									<div class="section-head">
										<h4 class="section-subject"><span class="section-name">섹션 제목이 들어갑니다.</span></h4>
									</div>
									<div class="section-body">
									</div>
								</div>
							</div>
							<!-- //section -->

							<div class="info-board module-a style-a type-c attr-done">
								<div class="board-wrap">
									<div class="board-head">
										<p class="board-subject">스마트데이</p>
										<p class="board-summary">등록이 완료되었습니다!</p>
									</div>
								</div>
							</div>
						</div>
						<!-- //content-body -->
					</div>
					<!-- //content -->
				</div>
				<!-- //local-body -->
			</div>
			<!-- //local -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_footer.front.ejs') %>
	</div>
	<!-- //page -->
	<%-include('../_templates/_content.popup.ejs') %>
</div>
</body>
</html>