/*
* @ mark module accent
*
* @ $text-color
* @ $border-color
* @ $background-color
*/
$board-module-accent: (
	'normal-00': (
		'none' color(base, 100) transparent transparent,
		'line' color(base, 100) color(base, 100) color(base, 000),
		'fill' color(base, 000) color(base, 100) color(base, 100),
	),
	'normal-01': (
		'none' color(base, 100) transparent transparent,
		'line' color(base, 80) color(base, 80) color(base, 000),
		'fill' color(base, 000) color(base, 80) color(base, 80),
	),
	'normal-02': (
		'none' color(base, 060) transparent transparent,
		'line' color(base, 040) color(base, 030) color(base, 000),
		'fill' color(base, 000) color(base, 070) color(base, 070),
	),
	'normal-03': (
		'none' color(base, 040) transparent transparent,
		'line' color(base, 040) color(base, 030) color(base, 000),
		'fill' color(base, 000) color(base, 030) color(base, 030),
	),
	'normal-04': (
		'none' color(base, 040) transparent transparent,
		'line' color(base, 070) color(base, 010) color(base, 000),
		'fill' color(base, 070) color(base, 010) color(base, 010),
	),
	'accent-01': (
		'none' color(primary, 050) transparent transparent,
		'line' color(primary, 050) color(primary, 050) color(primary, 000),
		'fill' color(primary, 000) color(primary, 050) color(primary, 050),
	),
	'accent-02': (
		'none' color(secondary, 010) transparent transparent,
		'line' color(secondary, 010) color(secondary, 010) color(base, 000),
		'fill' color(base, 000) color(secondary, 010) color(secondary, 010),
	),
	'accent-03': (
		'none' color(secondary, 030) transparent transparent,
		'line' color(secondary, 030) color(secondary, 030) color(base, 000),
		'fill' color(base, 000) color(secondary, 030) color(secondary, 030),
	)
);
/**
 * @type module
 * @name noti-board
 * @modle a
 */
.noti-board.module-a {
	.board-wrap {
		padding: 10rem;

		.board-head {
			.board-subject {
				margin: 0;
				color: color(base, 090);
				@include font((outline: head, size: medium, weight: bold)...);
			}

			.board-summary {
				margin: 0;
				color: color(base, 060);
				@include font((outline: body, size: medium)...);

				.wbr {
					display: block;
				}

				// laptop
				@include respond-above(x-large) {
					@include font((outline: body, size: large)...);
				}
			}

			~.board-body {
				margin-top: 16rem;
				// laptop
				@include respond-above(x-large) {
					margin-top: 12rem;
				}
			}
		}

		.board-body {
			.para {
				margin: 0;
				color: color(base, 030);
				@include font((outline: body, size: small)...);

				+.para {
					margin-top: 16rem;
				}
			}
		}
	}

	&[class*="attr-"] {
		.board-wrap {
			&::before {
				content: '';
				display: block;
				width: 120rem;
				height: 120rem;
				background-repeat: no-repeat;
				background-position: center;
				background-size: 100%;
			}
		}
	}
	&.type-c { 
		display: flex;
		justify-content: center;

		.board-wrap {
			display: flex;
			flex-wrap: wrap;
			flex-flow: column;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
	}

	// accent
	@each $accent-name in $board-module-accent {
		&.#{nth($accent-name, 1)} {
			// @debug "divider offset: #{nth($accent-name, 1)}";
			@each $type-name, $color, $border-color, $background-color in map-get($board-module-accent, nth($accent-name, 1)) {
				&.type-#{$type-name} {
					color: $color;
					border-color: $border-color;
					background-color: $background-color;
					
					@each $icon-name, $icon in $symbol-list {
						&.symbol-ltr-#{$icon-name} {.mark-text {&::before {background-image: icon($icon-name, $color);}}}
						&.symbol-rtl-#{$icon-name} {.mark-text {&::after {background-image: icon($icon-name, $color);}}}
					}
				}
			}
		}
	}
}