
/**
 * @type module
 * @name info-board
 * @modle a
 */
.info-board.module-a {
	.board-wrap {
		.board-head {
			.board-subject {
				margin: 0;
				color: color(base, 090);
				@include font((outline: head, size: medium, weight: bold)...);
			}

			.board-summary {
				margin: 0;
				color: color(base, 060);
				@include font((outline: body, size: medium)...);

				.wbr {
					display: block;
				}

				// laptop
				@include respond-above(x-large) {
					@include font((outline: body, size: large)...);
				}
			}

			~.board-body {
				margin-top: 16rem;
				// laptop
				@include respond-above(x-large) {
					margin-top: 12rem;
				}
			}
		}

		.board-body {
			.para {
				margin: 0;
				color: color(base, 030);
				@include font((outline: body, size: small)...);

				+.para {
					margin-top: 16rem;
				}
			}
		}

		.board-util {
			margin-top: 28rem;
			width: 100%;

			// laptop
			@include respond-above(x-large) {
				margin-top: 48rem;
			}

			.button-area {
				// mobile
				@include respond-below(x-large) {
					.btn {
						flex-grow: 1;
					}
				}
			}
		}
	}

	&[class*="attr-"] {
		.board-wrap {
			&::before {
				content: '';
				display: block;
				width: 120rem;
				height: 120rem;
				margin-bottom: 16rem;
				background-repeat: no-repeat;
				background-position: center;
				background-size: 100%;

				// laptop
				@include respond-above(x-large) {
					width: 120rem;
					height: 120rem;
					margin-bottom: 24rem;
				}
			}
		}
	}

	&.attr-done {
		.board-wrap::before {
			background-image: url(./../images/svg/infoboard-done.svg);
		}
	}

	&.type-c { 
		display: flex;
		justify-content: center;

		.board-wrap {
			display: flex;
			flex-wrap: wrap;
			flex-flow: column;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
	}
}