
/**
 * @type module
 * @name info-board
 * @modle a
 */
.info-board.module-a {
	.board-wrap {
		.board-head {
			.board-subject {
				margin: 0;
				color: color(base, 020);
				@include font((outline: body, size: large, weight: bold)...);

				// laptop
				@include respond-above(x-large) {
					@include font((outline: body, size: x-large)...);
				}
			}

			.board-summary {
				margin: 0;
				color: color(base, 020);
				@include font((outline: body, size: small)...);

				.wbr {
					display: block;
				}

				// laptop
				@include respond-above(x-large) {
					@include font((outline: body, size: large)...);
				}
			}

			~.board-body {
				margin-top: 16rem;
				// laptop
				@include respond-above(x-large) {
					margin-top: 12rem;
				}
			}
		}

		.board-body {
			.para {
				margin: 0;
				color: color(base, 030);
				@include font((outline: body, size: small)...);

				+.para {
					margin-top: 16rem;
				}
			}
		}

		.board-util {
			margin-top: 28rem;
			width: 100%;

			// laptop
			@include respond-above(x-large) {
				margin-top: 48rem;
			}

			.button-area {
				// mobile
				@include respond-below(x-large) {
					.btn {
						flex-grow: 1;
					}
				}
			}
		}
	}

	&[class*="attr-"] {
		.board-wrap {
			&::before {
				content: '';
				display: block;
				width: 96rem;
				height: 96rem;
				margin-bottom: 16rem;
				background-repeat: no-repeat;
				background-position: center;
				background-size: 100%;

				// laptop
				@include respond-above(x-large) {
					width: 120rem;
					height: 120rem;
					margin-bottom: 24rem;
				}
			}
		}
	}

	&.attr-error {
		.board-wrap::before {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='48' height='48'%3E%3Cpath fill='%23c7c7c7' d='M30.1686 24.852C30.2432 24.8711 30.3197 24.8813 30.3966 24.8822C30.6004 24.8781 30.7961 24.801 30.9483 24.6646C31.1005 24.5282 31.1993 24.3416 31.2268 24.1385C31.2543 23.9353 31.2088 23.7289 31.0983 23.5566C30.9879 23.3842 30.8199 23.2572 30.6246 23.1985L27.2467 22.254C27.0334 22.2055 26.8096 22.2423 26.6228 22.3566C26.4352 22.4694 26.298 22.6504 26.2394 22.8621C26.1808 23.0738 26.2052 23.3001 26.3078 23.4942C26.4096 23.6895 26.5827 23.8377 26.7908 23.9076L30.1686 24.852ZM44.949 28.8713L41.8561 26.922L37.3113 24.0615L42.1501 20.9927L45.321 18.9861L41.7212 17.9059L31.9746 14.9578L31.2126 14.7315L30.5526 15.1419L25.8068 18.0779L24.0069 19.1973H23.9769L22.1829 18.096L17.4881 15.163L16.8222 14.7436L16.0572 14.9729L6.41856 17.9089L2.86071 18.9891L5.98358 20.9927L10.6574 23.977L5.83059 26.9069L2.59072 28.8743L6.21457 30.0058L10.2134 31.252V40.0328C10.2138 40.2118 10.2705 40.3861 10.3754 40.5307C10.4792 40.673 10.6252 40.7787 10.7924 40.8324L23.5509 45.2258C23.6429 45.2558 23.7391 45.2711 23.8359 45.2711C23.9317 45.2712 24.0269 45.2559 24.1179 45.2258L36.8824 40.8445C37.0522 40.7881 37.2002 40.6794 37.3052 40.5337C37.4101 40.388 37.4669 40.2127 37.4673 40.0328V31.3063L41.4812 30.0028L44.949 28.8713ZM22.9869 20.7996V27.0276L21.9999 26.7259L12.9163 24.0403L21.8109 21.1738L22.9869 20.7996ZM6.94655 19.5564L16.5852 16.6265L21.283 19.5564L11.7434 22.6251L6.94655 19.5564ZM6.75155 28.3794L11.5814 25.4465L21.496 28.3794L16.5402 31.4482L6.75155 28.3794ZM22.8279 43.1649L11.9593 39.4293V31.7922L16.0452 33.0625L16.8072 33.3009L17.4821 32.8815L22.4379 29.8127L22.9929 29.4717L22.8279 43.1649ZM31.4766 16.6114L41.2232 19.5413L36.3634 22.6221L26.7338 19.5534L31.4766 16.6114ZM24.7148 20.7121L26.2148 21.1888L35.0824 24.0102L26.2148 26.7259L24.6878 27.1905L24.7148 20.7121ZM35.7424 39.4203L24.5498 43.2916L24.7028 29.1096L25.7828 29.8338L30.5526 32.9026L31.2426 33.3461L32.0255 33.0927L35.7304 31.8857L35.7424 39.4203ZM31.5096 31.4421L26.7428 28.3824L36.3064 25.4495L40.9652 28.3824L31.5096 31.4421ZM6.75755 10.2868C7.1794 10.2865 7.59171 10.1605 7.94247 9.92472C8.29322 9.68897 8.56672 9.35403 8.72847 8.96214C8.88861 8.57034 8.93019 8.13971 8.84801 7.72423C8.76583 7.30876 8.56353 6.92693 8.26649 6.62663C7.96747 6.32759 7.58734 6.12398 7.17377 6.04132C6.76019 5.95865 6.33155 6.00062 5.94158 6.16195C5.55281 6.32602 5.22019 6.60081 4.98462 6.95252C4.77087 7.27548 4.6482 7.6507 4.62965 8.03823C4.6111 8.42576 4.69738 8.8111 4.87929 9.15322C5.06121 9.49534 5.33195 9.78144 5.6627 9.98105C5.99345 10.1807 6.37183 10.2863 6.75755 10.2868ZM5.85759 7.23012C6.05194 7.03394 6.30396 6.90598 6.5763 6.86519C6.84863 6.82441 7.12679 6.87297 7.36953 7.00369C7.61227 7.1344 7.80668 7.34031 7.92393 7.5909C8.04119 7.84148 8.07505 8.1234 8.0205 8.39486C7.97018 8.64399 7.84804 8.87271 7.66933 9.05247C7.49061 9.23224 7.26323 9.35509 7.01554 9.4057C6.74566 9.46057 6.46539 9.42651 6.21626 9.30857C5.96714 9.19063 5.76243 8.99508 5.63247 8.75092C5.50252 8.50676 5.45423 8.22697 5.49478 7.95304C5.53533 7.67911 5.66255 7.42561 5.85759 7.23012ZM3.65267 14.2336C3.74961 13.9989 3.77468 13.7405 3.72467 13.4913C3.67625 13.2422 3.55505 13.0132 3.37657 12.8336C3.19809 12.6541 2.97044 12.5322 2.72271 12.4835C2.47505 12.433 2.21803 12.4582 1.98474 12.5559C1.71267 12.6704 1.48833 12.876 1.34977 13.1379C1.21121 13.3997 1.16697 13.7018 1.22454 13.9927C1.2821 14.2836 1.43794 14.5456 1.66562 14.7341C1.8933 14.9227 2.17881 15.0262 2.47372 15.0272C2.7261 15.0265 2.97264 14.9507 3.18239 14.8096C3.39213 14.6684 3.55574 14.468 3.65267 14.2336ZM2.89671 13.8232C2.87987 13.9074 2.83925 13.985 2.77971 14.0465C2.72015 14.1067 2.64414 14.1477 2.56135 14.1644C2.47856 14.1811 2.39273 14.1726 2.31473 14.1401C2.25072 14.1135 2.19416 14.0716 2.15003 14.0179C2.1059 13.9642 2.07554 13.9005 2.06162 13.8323C2.0477 13.7641 2.05064 13.6934 2.07019 13.6266C2.08974 13.5598 2.12529 13.4988 2.17373 13.4491C2.21264 13.4087 2.25927 13.3766 2.31083 13.3548C2.36239 13.333 2.4178 13.322 2.47372 13.3224C2.55765 13.3225 2.63982 13.3466 2.71071 13.3918C2.78119 13.4388 2.83638 13.5056 2.86945 13.5839C2.90251 13.6623 2.91199 13.7486 2.89671 13.8323V13.8232ZM41.8951 42.5735C41.7267 42.4199 41.5286 42.3028 41.3132 42.2295C40.9112 42.1019 40.4772 42.123 40.0894 42.289C39.7016 42.455 39.3855 42.7549 39.1983 43.1347C39.0294 43.4851 38.9838 43.8827 39.0688 44.2626C39.1538 44.6424 39.3644 44.982 39.6662 45.2258C39.9658 45.4675 40.3382 45.5994 40.7222 45.6C41.2019 45.5886 41.6582 45.3894 41.9941 45.0448C42.1501 44.8768 42.2723 44.68 42.3541 44.4654C42.4324 44.2502 42.468 44.0216 42.4591 43.7925C42.4492 43.5638 42.3943 43.3394 42.2975 43.1322C42.2007 42.925 42.0639 42.7392 41.8951 42.5856V42.5735ZM41.6342 44.3266C41.5349 44.5304 41.371 44.6951 41.1684 44.795C40.9658 44.8948 40.736 44.924 40.515 44.8781C40.2941 44.8321 40.0947 44.7136 39.9481 44.5411C39.8015 44.3686 39.716 44.152 39.7052 43.9253C39.6997 43.7909 39.72 43.6567 39.7652 43.53C39.8557 43.274 40.0434 43.0646 40.2872 42.9477C40.4218 42.8818 40.5695 42.8477 40.7192 42.8481C40.9508 42.8476 41.1754 42.9275 41.3552 43.0744C41.5358 43.2205 41.6618 43.4239 41.7125 43.6514C41.7632 43.8789 41.7356 44.117 41.6342 44.3266ZM46.782 40.0388C46.7817 40.1272 46.7485 40.2123 46.689 40.2772C46.6312 40.3429 46.5508 40.3839 46.464 40.3919H45.639V41.2096C45.6391 41.2556 45.6302 41.3011 45.6127 41.3436C45.5952 41.3861 45.5695 41.4247 45.537 41.457C45.5043 41.4898 45.4654 41.5157 45.4227 41.5333C45.3799 41.5509 45.3342 41.5598 45.288 41.5596C45.1957 41.5589 45.1073 41.5218 45.0417 41.4564C44.9762 41.391 44.9386 41.3025 44.937 41.2096V40.3828H44.1151C44.0275 40.3744 43.9463 40.3335 43.8871 40.2682C43.8289 40.202 43.7967 40.1167 43.7967 40.0283C43.7967 39.9399 43.8289 39.8546 43.8871 39.7884C43.9471 39.7241 44.0279 39.6835 44.1151 39.6737H44.937V38.85C44.9377 38.7558 44.9755 38.6658 45.042 38.5995C45.0742 38.5669 45.1126 38.541 45.1548 38.5234C45.197 38.5058 45.2423 38.4968 45.288 38.4969C45.3342 38.4965 45.38 38.5054 45.4228 38.523C45.4656 38.5406 45.5044 38.5666 45.5371 38.5994C45.5698 38.6323 45.5956 38.6714 45.6131 38.7144C45.6306 38.7574 45.6394 38.8035 45.639 38.85V39.6737H46.482C46.5692 39.6834 46.6499 39.725 46.7085 39.7907C46.7672 39.8564 46.7997 39.9415 46.8 40.0298L46.782 40.0388Z'/%3E%3Cpath fill='%23909090' d='M27.9943 2.40002H19.4056C18.7872 2.40041 18.175 2.52013 17.6039 2.75233C17.0328 2.98453 16.5139 3.32467 16.0769 3.75333C15.64 4.18199 15.2935 4.69078 15.0572 5.25065C14.821 5.81051 14.6996 6.41049 14.7 7.01632C14.7 8.23934 15.1956 9.4123 16.078 10.2774C16.9604 11.1425 18.1573 11.6289 19.4056 11.6296H22.0457L23.5336 13.0845C23.5736 13.1227 23.6209 13.1529 23.6727 13.1734C23.7252 13.1913 23.7804 13.2003 23.836 13.2C23.8917 13.1964 23.9461 13.1823 23.9963 13.1585C24.0459 13.1348 24.0901 13.1015 24.1264 13.0608L25.336 11.6296H27.9762C28.599 11.6319 29.2159 11.512 29.7907 11.2771C30.6513 10.9284 31.3871 10.3374 31.9049 9.57903C32.4228 8.82062 32.6995 7.92879 32.6999 7.01632C32.6991 5.79327 32.2033 4.62045 31.3212 3.75506C30.439 2.88968 29.2426 2.40238 27.9943 2.40002ZM21.3411 8.06224C21.1818 8.06135 21.0263 8.01501 20.8935 7.92891C20.7581 7.84328 20.6526 7.71924 20.5911 7.57335C20.5302 7.4292 20.5144 7.2706 20.5457 7.11764C20.5769 6.96468 20.6537 6.82424 20.7665 6.7141C20.8508 6.63174 20.9527 6.56868 21.0648 6.52942C21.1769 6.49015 21.2965 6.47567 21.415 6.48699C21.5334 6.49832 21.6479 6.53518 21.7502 6.59493C21.8524 6.65468 21.9399 6.73585 22.0064 6.83261C22.0943 6.96273 22.1416 7.11511 22.1425 7.27113C22.1429 7.37513 22.1223 7.47818 22.0818 7.57434C22.0414 7.6705 21.9819 7.75786 21.9069 7.8314C21.8318 7.90494 21.7426 7.9632 21.6445 8.00282C21.5464 8.04244 21.4412 8.06263 21.335 8.06224H21.3411ZM23.706 8.06224C23.5466 8.06222 23.3908 8.01581 23.2584 7.92891C23.1251 7.84246 23.0211 7.71906 22.9597 7.57447C22.8983 7.42987 22.8823 7.27063 22.9137 7.11706C22.9452 6.96437 23.0219 6.82419 23.1344 6.7141C23.2467 6.60219 23.3913 6.5267 23.5487 6.4978C23.6655 6.47501 23.7859 6.47787 23.9013 6.50618C24.0168 6.53449 24.1244 6.58754 24.2164 6.66152C24.3083 6.73549 24.3824 6.82854 24.4333 6.93396C24.4841 7.03937 24.5105 7.15453 24.5104 7.27113C24.5108 7.37488 24.4903 7.47769 24.4501 7.57365C24.4098 7.66962 24.3506 7.75685 24.2759 7.83035C24.2012 7.90385 24.1123 7.96217 24.0145 8.00197C23.9167 8.04176 23.8119 8.06224 23.706 8.06224ZM26.0709 8.06224C25.9117 8.06135 25.7561 8.01501 25.6233 7.92891C25.488 7.84328 25.3825 7.71924 25.3209 7.57335C25.2601 7.4292 25.2443 7.2706 25.2755 7.11764C25.3067 6.96468 25.3836 6.82424 25.4963 6.7141C25.5806 6.63174 25.6825 6.56868 25.7946 6.52942C25.9067 6.49015 26.0263 6.47567 26.1448 6.48699C26.2633 6.49832 26.3778 6.53518 26.48 6.59493C26.5823 6.65468 26.6698 6.73585 26.7362 6.83261C26.8241 6.96273 26.8714 7.11511 26.8723 7.27113C26.8727 7.37513 26.8521 7.47818 26.8117 7.57434C26.7712 7.6705 26.7118 7.75786 26.6367 7.8314C26.5617 7.90494 26.4725 7.9632 26.3743 8.00282C26.2762 8.04244 26.171 8.06263 26.0649 8.06224H26.0709Z' /%3E%3C/svg%3E%0A");
		}
	}

	&.attr-unsubscribe-email {
		.board-wrap::before {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 120 120' width='120' height='120'%3E%3Cpath fill='%23c7c7c7' d='M104 42.5501L103.575 42.1251H103.375C103.392 42.0766 103.392 42.0236 103.375 41.9751C103.327 41.9556 103.273 41.9556 103.225 41.9751L92.725 34.3251V30.3501C92.6928 28.4657 91.9206 26.6697 90.575 25.3501C89.8907 24.6711 89.0792 24.134 88.1868 23.7693C87.2945 23.4046 86.339 23.2197 85.375 23.2251H78.15L57.95 8.25008C57.3921 7.77293 56.6841 7.50741 55.95 7.50008C55.3428 7.46674 54.7425 7.64328 54.25 8.00008L33.9 23.0001H26.425C25.4611 22.9947 24.5056 23.1796 23.6132 23.5443C22.7209 23.909 21.9093 24.4461 21.225 25.1251C19.8795 26.4447 19.1072 28.2407 19.075 30.1251V33.4251L8.55002 41.0751C8.56086 41.1245 8.56086 41.1757 8.55002 41.2251C8.52658 41.2362 8.50097 41.242 8.47502 41.242C8.44908 41.242 8.42347 41.2362 8.40003 41.2251H8.17503C8.17503 41.4501 7.97502 41.4501 7.97502 41.6501H7.82503V42.0751C7.82503 42.2751 7.82502 42.2751 7.62502 42.4751V100.725C7.6234 101.135 7.70448 101.541 7.86341 101.919C8.02235 102.297 8.25587 102.639 8.55002 102.925C9.14827 103.5 9.94519 103.823 10.775 103.825H66.075C66.9049 103.823 67.7018 103.5 68.3 102.925C68.5942 102.639 68.8277 102.297 68.9866 101.919C69.1456 101.541 69.2266 101.135 69.225 100.725C69.2276 100.319 69.1469 99.9159 68.9878 99.5418C68.8287 99.1677 68.5946 98.8302 68.3 98.5501C67.7103 97.9591 66.91 97.6263 66.075 97.6251H19.275L30.625 88.7501L48.3 74.7001L53.3 78.2251C53.8248 78.6009 54.4545 78.8021 55.1 78.8001C55.7383 78.8055 56.3611 78.6037 56.875 78.2251L63.4 73.6751L73.925 82.7501L78.125 78.0001L68.675 70.5001L89.7 56.0501L90.975 55.0001L92.65 53.7751L98.125 49.8501V65.7751C98.1224 66.1816 98.2032 66.5843 98.3623 66.9584C98.5214 67.3325 98.7554 67.67 99.05 67.9501C99.3386 68.2473 99.6848 68.4826 100.067 68.6416C100.45 68.8007 100.861 68.8801 101.275 68.8751C102.103 68.8871 102.902 68.5728 103.5 68.0001C103.795 67.72 104.029 67.3825 104.188 67.0084C104.347 66.6343 104.428 66.2316 104.425 65.8251V43.3251L104 42.5501ZM56.075 14.6501L67.625 23.1251H44.3L56.075 14.6501ZM19.075 41.3001V46.3001L15.7 43.8001L19.075 41.3001ZM23.05 87.1501L13.6 94.8001V49.9751L22.225 56.3751H22.5L43.1 71.2501L23.05 87.1501ZM86.35 50.5001L55.225 72.5001L25.375 50.8001V30.3501C25.3736 30.2153 25.3994 30.0815 25.451 29.9569C25.5025 29.8323 25.5787 29.7195 25.675 29.6251C25.774 29.528 25.8913 29.4516 26.02 29.4001C26.1487 29.3486 26.2864 29.3231 26.425 29.3251H85.3C85.4349 29.3236 85.5686 29.3495 85.6932 29.401C85.8178 29.4526 85.9307 29.5288 86.025 29.6251C86.1247 29.7182 86.2048 29.8303 86.2606 29.9548C86.3164 30.0793 86.3468 30.2137 86.35 30.3501V50.5001ZM92.65 45.9501V41.2001L96.025 43.7001L92.65 45.9501ZM55.875 64.6751C58.2953 64.7006 60.6723 64.0326 62.725 62.7501L61.95 60.9501C60.1741 62.0177 58.147 62.5957 56.075 62.6251C49.925 62.6251 45.35 58.4501 45.35 51.1251C45.35 42.3751 51.55 36.6751 57.85 36.6751C64.15 36.6751 67.85 41.1001 67.85 47.1751C67.85 52.0501 65.35 54.9001 62.85 54.9001C60.35 54.9001 60.2 53.5251 60.875 50.5001L62.5 43.0001H60.55L60.125 44.5251C59.8736 43.9754 59.4682 43.5105 58.9579 43.1866C58.4477 42.8627 57.8544 42.6937 57.25 42.7001C53 42.7001 50.3 47.4251 50.3 51.3751C50.3 54.8001 52.175 56.7251 54.625 56.7251C55.4922 56.6382 56.3316 56.3709 57.0894 55.9403C57.8471 55.5098 58.5065 54.9255 59.025 54.2251C59.0805 54.6553 59.2203 55.0703 59.4364 55.4465C59.6524 55.8226 59.9405 56.1525 60.2841 56.4172C60.6278 56.6819 61.0203 56.8762 61.4391 56.9891C61.8579 57.102 62.2949 57.1312 62.725 57.0751C66 57.0751 69.95 53.6501 69.95 47.0751C69.95 39.5751 65.35 34.5751 58.075 34.5751C50.025 34.5751 43.075 41.1501 43.075 51.2001C43.15 59.9751 48.8 64.6751 55.875 64.6751ZM55.225 54.6751C53.775 54.6751 52.725 53.7001 52.725 51.3001C52.725 48.4751 54.475 44.9001 57.325 44.9001C57.8286 44.9016 58.32 45.0551 58.7349 45.3406C59.1498 45.6261 59.4687 46.0302 59.65 46.5001L58.6 52.4751C57.325 53.9501 56.225 54.6251 55.225 54.6251V54.6751Z' /%3E%3Cpath fill='%23e6223d' d='M91.2995 112.5C95.5601 112.54 99.7364 111.312 103.298 108.974C106.86 106.636 109.647 103.292 111.305 99.3673C112.963 95.4423 113.417 91.1132 112.611 86.9296C111.804 82.7459 109.772 78.8963 106.773 75.8694C103.775 72.8425 99.9441 70.7749 95.7681 69.929C91.5921 69.0831 87.259 69.497 83.3187 71.1182C79.3784 72.7395 76.0087 75.4949 73.6373 79.0348C71.2659 82.5746 69.9997 86.7393 69.9996 91C69.9798 93.8122 70.5158 96.6005 71.5767 99.2049C72.6377 101.809 74.2027 104.178 76.1819 106.176C78.1611 108.174 80.5155 109.761 83.1098 110.846C85.7042 111.932 88.4874 112.494 91.2995 112.5ZM100.375 97.5001C100.368 97.8651 100.282 98.2243 100.123 98.5526C99.9629 98.8808 99.7331 99.1701 99.4496 99.4001C99.1994 99.6423 98.9013 99.8297 98.5746 99.9501C98.248 100.079 97.9006 100.147 97.5495 100.15C97.1454 100.171 96.7422 100.094 96.3746 99.925C96.0066 99.7709 95.6808 99.5308 95.4245 99.2251L91.3746 95.0001L87.3496 99.2251C87.0782 99.5591 86.7251 99.8175 86.3245 99.9751C85.9196 100.134 85.4824 100.194 85.0495 100.15C84.6985 100.147 84.3511 100.079 84.0246 99.9501C83.6927 99.8248 83.3874 99.6383 83.1246 99.4001C82.8551 99.1596 82.6366 98.8676 82.482 98.5412C82.3274 98.2149 82.2399 97.8609 82.2246 97.5001C82.2027 97.1387 82.2558 96.7766 82.3805 96.4368C82.5053 96.0969 82.699 95.7865 82.9496 95.5251L87.4996 90.9501L83.0496 86.3251C82.8015 86.062 82.6093 85.7513 82.4847 85.4118C82.3601 85.0724 82.3056 84.7112 82.3246 84.3501C82.3394 83.9855 82.4266 83.6276 82.5811 83.2971C82.7356 82.9666 82.9543 82.6702 83.2246 82.425C83.8495 81.9764 84.6057 81.7478 85.3746 81.7751C86.1442 81.8075 86.8783 82.1082 87.4496 82.6251L91.4745 86.8251L95.5246 82.6251C96.0585 82.1819 96.7306 81.9393 97.4246 81.9393C98.1185 81.9393 98.7906 82.1819 99.3246 82.6251C99.834 83.0672 100.163 83.6811 100.25 84.3501C100.327 85.0237 100.149 85.702 99.7496 86.2501L95.3746 90.8751L99.6496 95.5001C99.9098 95.7701 100.109 96.0928 100.234 96.4465C100.359 96.8001 100.407 97.1764 100.375 97.5501V97.5001Z' /%3E%3C/svg%3E%0A");
		}
	}

	&.attr-complete {
		.board-wrap::before {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 120 120' width='120' height='120'%3E%3Cpath fill='%23e6223d' d='M95.9247 68.1004C92.5536 68.021 89.2352 68.9474 86.3927 70.7614C83.5502 72.5755 81.3124 75.195 79.9646 78.286C78.6169 81.377 78.2203 84.7994 78.8253 88.1167C79.4304 91.434 81.0098 94.4959 83.362 96.912C85.7142 99.3281 88.7328 100.989 92.0327 101.683C95.3326 102.376 98.7644 102.071 101.89 100.807C105.016 99.5425 107.695 97.3756 109.584 94.5827C111.474 91.7898 112.489 88.4974 112.5 85.1254C112.533 82.9183 112.13 80.7263 111.314 78.6752C110.498 76.624 109.286 74.7541 107.746 73.1724C106.206 71.5908 104.369 70.3287 102.341 69.4583C100.312 68.5879 98.132 68.1265 95.9247 68.1004ZM103.025 80.1254C102.965 80.3831 102.845 80.623 102.675 80.8254L95.1747 91.4504C95.0183 91.6983 94.8038 91.9043 94.5497 92.0504C94.2943 92.181 94.0116 92.2495 93.7247 92.2504C93.4481 92.2552 93.1741 92.1953 92.9247 92.0754C92.6741 91.9697 92.4515 91.8071 92.2747 91.6004L87.6247 86.3754C87.3151 85.9501 87.1808 85.422 87.2497 84.9004C87.2844 84.6426 87.3709 84.3945 87.5041 84.1711C87.6373 83.9476 87.8144 83.7535 88.0247 83.6004C88.4379 83.2957 88.9484 83.1529 89.4597 83.1989C89.971 83.245 90.4477 83.4768 90.7997 83.8504L93.2997 87.1754L99.3497 78.6754C99.4937 78.4566 99.6809 78.2694 99.8997 78.1254C100.12 77.9791 100.366 77.8772 100.625 77.8254C100.879 77.7629 101.145 77.7629 101.4 77.8254C101.659 77.8772 101.905 77.9791 102.125 78.1254C102.329 78.2803 102.5 78.4761 102.625 78.7004C102.756 78.9229 102.841 79.1694 102.875 79.4254C102.966 79.6478 103.017 79.885 103.025 80.1254Z'/%3E%3Cpath fill='%23c7c7c7' d='M79.9 58.0247C80.0981 58.2159 80.2557 58.4451 80.3633 58.6985C80.4709 58.9519 80.5264 59.2244 80.5264 59.4997C80.5264 59.775 80.4709 60.0475 80.3633 60.3009C80.2557 60.5544 80.0981 60.7835 79.9 60.9747C79.7079 61.1714 79.4785 61.328 79.2253 61.4353C78.9721 61.5426 78.7001 61.5985 78.425 61.5997H54.7C54.421 61.6004 54.1447 61.5455 53.8871 61.4382C53.6296 61.3309 53.396 61.1733 53.2 60.9747C52.8181 60.5786 52.6047 60.0499 52.6047 59.4997C52.6047 58.9495 52.8181 58.4208 53.2 58.0247C53.396 57.8261 53.6296 57.6686 53.8871 57.5612C54.1447 57.4539 54.421 57.399 54.7 57.3997H78.425C78.7001 57.4009 78.9721 57.4568 79.2253 57.5641C79.4785 57.6714 79.7079 57.828 79.9 58.0247ZM78.425 70.8747H54.7C54.421 70.874 54.1447 70.9289 53.8871 71.0362C53.6296 71.1436 53.396 71.3011 53.2 71.4997C52.8165 71.9 52.6024 72.4329 52.6024 72.9872C52.6024 73.5415 52.8165 74.0745 53.2 74.4747C53.396 74.6733 53.6296 74.8309 53.8871 74.9382C54.1447 75.0455 54.421 75.1004 54.7 75.0997H78.425C78.9457 75.043 79.4271 74.796 79.7768 74.4061C80.1265 74.0162 80.3199 73.5109 80.3199 72.9872C80.3199 72.4635 80.1265 71.9582 79.7768 71.5683C79.4271 71.1784 78.9457 70.9314 78.425 70.8747ZM47.175 67.8247C46.9508 67.6225 46.6868 67.4693 46.4 67.3747C46.1118 67.3117 45.8133 67.3117 45.525 67.3747C45.2246 67.4011 44.934 67.4951 44.675 67.6497C44.4176 67.8109 44.1962 68.0237 44.025 68.2747L39.25 73.5997L37.3 71.3497C37.162 71.0554 36.9458 70.8046 36.675 70.6247C36.4297 70.4223 36.1374 70.2848 35.825 70.2247C35.5129 70.1494 35.1872 70.1494 34.875 70.2247C34.5574 70.2983 34.2644 70.4534 34.025 70.6747C33.7931 70.8851 33.606 71.1402 33.475 71.4247C33.3555 71.727 33.2961 72.0497 33.3 72.3747C33.3148 72.693 33.4094 73.0025 33.575 73.2747C33.7279 73.5522 33.9416 73.7915 34.2 73.9747L37.7 78.0497C37.8934 78.2725 38.132 78.4515 38.4 78.5747C38.6672 78.6945 38.9573 78.7543 39.25 78.7497C39.8384 78.7282 40.3949 78.4768 40.8 78.0497L47.125 71.0497C47.3423 70.8513 47.5204 70.6139 47.65 70.3497C47.7862 70.0773 47.8629 69.779 47.875 69.4747C47.8801 69.1739 47.8204 68.8755 47.7 68.5997C47.5841 68.306 47.4048 68.0413 47.175 67.8247ZM37.7 50.7997C37.8859 51.0304 38.1266 51.2109 38.4 51.3247C38.6655 51.4524 38.9555 51.5206 39.25 51.5247C39.544 51.5149 39.8329 51.4457 40.0993 51.321C40.3658 51.1964 40.6041 51.0191 40.8 50.7997L47.125 43.7997C47.3995 43.3779 47.5229 42.8756 47.475 42.3747C47.417 41.8662 47.1773 41.3957 46.8 41.0497C46.4149 40.7198 45.9315 40.5264 45.425 40.4997C44.9148 40.5009 44.4206 40.6775 44.025 40.9997L39.25 46.1997L37.3 43.9497C36.9045 43.6275 36.4102 43.4509 35.9 43.4497C35.3901 43.46 34.9014 43.6555 34.525 43.9997C34.1511 44.3436 33.9127 44.81 33.8531 45.3145C33.7935 45.819 33.9166 46.3282 34.2 46.7497L37.7 50.7997ZM47.175 54.2247C46.9554 54.0217 46.6893 53.8757 46.4 53.7997C46.1118 53.7367 45.8133 53.7367 45.525 53.7997C45.2246 53.8261 44.934 53.9201 44.675 54.0747C44.4223 54.2419 44.202 54.4537 44.025 54.6997L39.25 59.8747L37.3 57.6247C36.9238 57.2221 36.4058 56.9813 35.8554 56.9533C35.305 56.9254 34.7652 57.1123 34.35 57.4747C33.9469 57.8533 33.7052 58.3726 33.675 58.9247C33.6468 59.4742 33.8353 60.0128 34.2 60.4247L37.7 64.4747C37.8934 64.6975 38.132 64.8765 38.4 64.9997C38.6672 65.1196 38.9573 65.1793 39.25 65.1747C39.8384 65.1532 40.3949 64.9018 40.8 64.4747L47.125 57.4747C47.3478 57.2813 47.5268 57.0427 47.65 56.7747C47.7862 56.5023 47.8629 56.204 47.875 55.8997C47.8801 55.5989 47.8204 55.3005 47.7 55.0247C47.5874 54.722 47.4079 54.4486 47.175 54.2247ZM93.3 105.3H97.5V107.275C97.5056 108.287 97.3094 109.29 96.9231 110.226C96.5368 111.162 95.9681 112.011 95.25 112.725C94.5418 113.467 93.6931 114.062 92.7533 114.474C91.8134 114.886 90.8011 115.107 89.775 115.125H25.225C23.1762 115.125 21.2114 114.311 19.7626 112.862C18.3139 111.413 17.5 109.449 17.5 107.4V25.9997C17.4967 24.9855 17.6944 23.9807 18.0818 23.0433C18.4691 22.106 19.0384 21.2547 19.7568 20.5387C20.4751 19.8227 21.3282 19.2562 22.2668 18.8719C23.2054 18.4876 24.2108 18.2931 25.225 18.2997H37.85V17.3247C37.9294 15.5331 38.7107 13.8448 40.025 12.6247C41.3382 11.3957 43.0767 10.7236 44.875 10.7497H46.275L46.55 10.1247C47.825 7.89971 49.05 5.12471 53.3 5.12471H61.7C63.0661 5.05002 64.4197 5.4185 65.5594 6.17529C66.6991 6.93208 67.5639 8.03671 68.025 9.32471L68.725 10.7247H70.125C71.0267 10.7059 71.9244 10.8499 72.775 11.1497C73.6047 11.4742 74.3674 11.9488 75.025 12.5497C75.6756 13.1693 76.2017 13.9076 76.575 14.7247C76.9158 15.5166 77.1107 16.3635 77.15 17.2247V18.1997H89.65C91.6987 18.2065 93.6636 19.014 95.125 20.4497C96.5661 21.8974 97.3751 23.857 97.375 25.8997V64.8497H93.3V25.9997C93.2675 25.0889 92.881 24.2268 92.2228 23.5965C91.5645 22.9663 90.6863 22.6176 89.775 22.6247H77.275C77.1717 24.3891 76.3755 26.0412 75.0597 27.2212C73.7439 28.4012 72.0152 29.0135 70.25 28.9247H44.875C43.1178 28.9757 41.4082 28.3492 40.1 27.1747C38.8012 25.9975 37.9971 24.3715 37.85 22.6247H25.225C24.7614 22.6227 24.3019 22.7123 23.8729 22.8882C23.4439 23.064 23.0539 23.3228 22.725 23.6497C22.3914 23.9748 22.1265 24.3636 21.9461 24.7931C21.7658 25.2225 21.6736 25.6839 21.675 26.1497V107.275C21.6881 108.203 22.0645 109.09 22.7234 109.744C23.3824 110.398 24.2715 110.768 25.2 110.775H89.775C90.2368 110.778 90.6946 110.69 91.1221 110.515C91.5496 110.341 91.9384 110.084 92.2661 109.758C92.5937 109.433 92.8538 109.046 93.0312 108.62C93.2087 108.194 93.3001 107.736 93.3 107.275V105.3ZM42.075 22.3747C42.1025 22.7065 42.196 23.0295 42.35 23.3247C42.5114 23.6163 42.7295 23.8726 42.9914 24.0787C43.2532 24.2848 43.5537 24.4364 43.875 24.5247C44.2042 24.5989 44.5458 24.5989 44.875 24.5247H70.125C70.4541 24.5997 70.7959 24.5997 71.125 24.5247C71.4464 24.4364 71.7468 24.2848 72.0087 24.0787C72.2706 23.8726 72.4887 23.6163 72.65 23.3247C72.8247 23.03 72.9513 22.7093 73.025 22.3747V17.3747C72.9494 16.6953 72.6188 16.0699 72.1 15.6247C71.8434 15.3954 71.5422 15.2215 71.2153 15.1139C70.8883 15.0064 70.5427 14.9675 70.2 14.9997H66.075L64.375 11.3497C63.4 9.67471 63.25 9.24971 61.7 9.24971H53.3C51.75 9.24971 51.475 9.79971 50.475 11.8997L49.075 14.9997H44.875C44.5364 14.971 44.1955 15.0116 43.8732 15.1191C43.5508 15.2265 43.2537 15.3986 43 15.6247C42.7348 15.8381 42.516 16.1033 42.357 16.4043C42.1979 16.7052 42.102 17.0354 42.075 17.3747V22.3747ZM57.5 16.8997C57.7769 16.8997 58.0476 16.8176 58.2778 16.6638C58.5081 16.5099 58.6875 16.2913 58.7935 16.0355C58.8994 15.7796 58.9272 15.4982 58.8731 15.2266C58.8191 14.955 58.6858 14.7056 58.49 14.5098C58.2942 14.314 58.0448 14.1806 57.7732 14.1266C57.5016 14.0726 57.2201 14.1003 56.9643 14.2063C56.7085 14.3122 56.4898 14.4917 56.336 14.7219C56.1822 14.9521 56.1 15.2228 56.1 15.4997C56.1 15.871 56.2475 16.2271 56.5101 16.4897C56.7726 16.7522 57.1287 16.8997 57.5 16.8997ZM78.425 43.7997H54.7C54.421 43.799 54.1447 43.8539 53.8871 43.9612C53.6296 44.0686 53.396 44.2261 53.2 44.4247C52.9088 44.7198 52.7115 45.0945 52.6329 45.5016C52.5543 45.9087 52.5979 46.3299 52.7584 46.7122C52.9188 47.0945 53.1887 47.4208 53.5343 47.6499C53.8798 47.879 54.2854 48.0007 54.7 47.9997H78.425C78.6985 48.0031 78.9699 47.9518 79.2232 47.8488C79.4765 47.7457 79.7066 47.593 79.9 47.3997C80.1865 47.1029 80.3803 46.7292 80.458 46.3241C80.5356 45.919 80.4937 45.5 80.3374 45.1184C80.181 44.7367 79.9169 44.4088 79.5773 44.1746C79.2378 43.9405 78.8374 43.8102 78.425 43.7997Z'/%3E%3C/svg%3E%0A");
		}
	}

	&.type-c { 
		display: flex;
		justify-content: center;

		.board-wrap {
			display: flex;
			flex-wrap: wrap;
			flex-flow: column;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
	}
}

/**
 * @type module
 * @name info-board
 * @modle b
 */
.info-board.module-b.style-a {

	&.type-c {
		margin: 0 auto;
		max-width: 735rem;

		.board-wrap {
			.board-body,
			.board-head {
				text-align: center;
			}
		}
	}

	.board-wrap {
		.board-head {
			.board-subject {
				margin: 0;
				@include font((outline: body, size: x-large, weight: black)...);
				color: color(base, 010);

				.wbr {
					display: block;
				}

				// laptop
				@include respond-above(large) {
					@include font((outline: body, size: xxxx-large)...);
				}
			}

			~.board-body {
				margin-top: 60rem;
				
				&::before {
					content: '';
					display: block;
					position: absolute;
					transform: translateY(calc(-100% - 16rem));
					left: 50%;
					width: 1rem;
					height: 28rem;
					background-color: color(base, 060);
				}
			}
		}
		
		.board-body {
			position: relative;
			.para {
				margin: 0;
				@include font((outline: body, size: x-small)...);
				color: color(base, 030);

				+.para {
					margin-top: 8rem;
				}

				.wbr {
					display: block;
				}

				// laptop
				@include respond-above(large) {
					@include font((outline: body, size: large)...);

					.btn {
						+.btn {
							margin: 0 0 0 10rem;
						}
					}
				}
			}
		}

		.board-util {
			margin-top: 24rem;

			// laptop
			@include respond-above(large) {
				margin-top: 32rem;
			}

			.button-area {
				display: flex;
				flex-wrap: wrap;

				.btn {
					flex-grow: 1;
					flex-basis: 100%;

					+.btn {
						margin: 10rem 0 0 0;
					}
				}
				// laptop
				@include respond-above(large) {
					flex-wrap: nowrap;
					.btn {
						+.btn {
							margin: 0 0 0 10rem;
						}
					}
				}
			}

		}
	}
}




$boardSymbolIndex: 0;
$boardSymbol: (
	"eye": red,
	"start": blue,
	"stop": green
);

.for-test {
	@each $name, $backgroundColor in $boardSymbol {
		$boardSymbolIndex: $boardSymbolIndex + 1;

		// key 값과 같으면
		li.#{$name} {
			background-color: $backgroundColor;
		}

		// index와 같으면
		li:nth-child(#{$boardSymbolIndex}) {
			background-position: 0 calc(-100rem * #{$boardSymbolIndex});
		}
	}
};



/*
 @type module
 @name display-board
 */
.display-board {
	ul.board-list {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}