
/**
 * @type module
 * @name data-display
 */

/*
 * module-a outline
 *
 * @ $line-height-head
 * @ $line-height-body
 * @ $font-size
 * @ $font-weight
 * @ $margin = $line-height - 4
 */
 $data-display-module-outline: (
	'x-small'		18rem  16rem  1.50 400 14rem,
	'small'			20rem  18rem  1.50 400 16rem,
	'medium'		24rem  20rem  1.50 400 20rem,
	'large'			28rem  24rem  1.50 400 24rem,
	'x-large'		32rem  28rem  1.50 400 28rem,
);

/*
* @ module accent
*
* @ $text-color
* @ $border-color
* @ $background-color
*/
$data-display-module-accent: (
	'normal-00': (
		'none' color(base, 100) transparent transparent,
		'line' color(base, 100) color(base, 100) color(base, 000),
		'fill' color(base, 000) color(base, 100) color(base, 100),
	),
	'normal-01': (
		'none' color(base, 100) transparent transparent,
		'line' color(base, 80) color(base, 80) color(base, 000),
		'fill' color(base, 000) color(base, 80) color(base, 80),
	),
	'normal-02': (
		'none' color(base, 070) transparent transparent,
		'line' color(base, 070) color(base, 070) color(base, 000),
		'fill' color(base, 000) color(base, 070) color(base, 070),
	),
	'normal-03': (
		'none' color(base, 060) transparent transparent,
		'line' color(base, 020) color(base, 020) color(base, 000),
		'fill' color(base, 000) color(base, 020) color(base, 020),
	),
	'normal-04': (
		'none' color(base, 040) transparent transparent,
		'line' color(base, 040) color(base, 010) color(base, 000),
		'fill' color(base, 050) color(base, 010) color(base, 010),
	),
	'accent-01': (
		'none' color(primary, 050) transparent transparent,
		'line' color(primary, 050) color(primary, 050) color(primary, 000),
		'fill' color(primary, 000) color(primary, 050) color(primary, 050),
	),
);


.data-display {
	> * {
	margin: 0;
	padding: 0;
	}
	.data-list {
		.data-item {
			.data-wrap {
				

				.data-head {
					.data-name {

					}
				}
				.data-body {

				}
			}
		}
	}
	// outline
	@each $name, $line-height-head, $line-height-body, $font-size, $font-weight, $margin in $data-display-module-outline {
		&.#{$name} {
			.data-item {
				.data-wrap {
					
					.data-head {
						font-weight: $font-weight;
						.data-name {
							line-height: $line-height-head;
							font-size: calc($line-height-head / $font-size);
						}
					}
					.data-body {
	
					}
				}
			}
			
			&.style-a {
				.data-item {
					.data-wrap {
						.data-head {
							.data-name {
		
							}
						}
						.data-body {
		
						}
					}
				}
			}

			&.style-b {
			}
		}
	}

	// icon
	&[class*=symbol-ltr-] .data-name::before,
	&[class*=symbol-rtl-] .data-name::after {
		content: '';
		display: block;
		background-repeat: no-repeat;
		background-size: cover;
	}
	// accent
	@each $accent-name in $data-display-module-accent {
		&.#{nth($accent-name, 1)} {
			@each $type-name, $color, $border-color, $background-color in map-get($data-display-module-accent, nth($accent-name, 1)) {
				&.type-#{$type-name} {
					color: $color;
					border-color: $border-color;
					background-color: $background-color;
					
					@each $icon-name, $icon in $symbol-list {
						&.symbol-ltr-#{$icon-name} {.data-name {&::before {background-image: icon($icon-name, $color);}}}
						&.symbol-rtl-#{$icon-name} {.data-name {&::after {background-image: icon($icon-name, $color);}}}
					}
				}
			}
		}
	}	

}

.data-display.module-a {
	.data-list {
		.data-item {
			.data-wrap {
				display: flex;
				.data-head {
					.data-name {
						color: color(base, 040);
					}
				}
				.data-body {
					color: color(base, 070);
				}
			}
		}
	}
	// outline
	@each $name, $line-height-head, $line-height-body, $font-size, $font-weight, $margin in $data-display-module-outline {
		&.#{$name} {
			.data-item {
				.data-wrap {
					.data-head {
						flex-basis: $line-height-head * 3;
						.data-name {
						}
					}
					.data-body {
						line-height: $line-height-head;
						font-size: calc($line-height-head / $font-size);
					}
				}
				& + .data-item {
					margin-top: $margin;
				}
			}
			
			&.style-a {
				.data-item {
					.data-wrap {
						.data-head {
							.data-name {
		
							}
						}
						.data-body {
		
						}
					}
				}
			}

			&.style-b {
			}
		}
	}
}


.data-display.module-b {
	.data-list {
		display: flex;
		flex-wrap: wrap;
		.data-item {
			.data-wrap {
				.data-head {
					.data-name {
						display: flex;
						color: color(base, 080);
						text-decoration: none;
						
					}
				}
				.data-body {
					color: color(base, 060);
				}
			}
		}
	}


	// outline
	@each $name, $line-height-head, $line-height-body, $font-size, $font-weight, $margin in $data-display-module-outline {
		&.#{$name} {
			.data-item {
				@include display-column(2, $margin, $margin - 4);
									// 컬럼 객수 , margin-left. marign-top 

				.data-wrap {
					.data-head {
						.data-name {

						}
					}
					.data-body {

						line-height: $line-height-body;
						font-size: calc($line-height-body / $font-size);
	
					}
				}
			}
			// icon
			&[class*=symbol-ltr-] .data-name::before,
			&[class*=symbol-rtl-] .data-name::after {
				width: $line-height-head;
				min-width: $line-height-head;
				height: $line-height-head;
			}
			
			&.style-a {
				.data-item {
					.data-wrap {
						.data-head {
							.data-name {
		
							}
						}
						.data-body {
		
						}
					}
				}
			}

			&.style-b {
			}
		}
	}	
}