
/**
 * @type module
 * @name data-display
 */

/*
 * module-a outline
 *
 * @ $line-height-head
 * @ $line-height-body
 * @ $font-size
 * @ $font-weight
 * @ $margin = $line-height - 4
 */
 $data-display-module-outline: (
	'x-small'		18rem  16rem  1.50 400 14rem,
	'small'			20rem  18rem  1.50 400 16rem,
	'medium'		24rem  20rem  1.50 400 20rem,
	'large'			28rem  24rem  1.50 400 24rem,
	'x-large'		32rem  28rem  1.50 400 28rem,
);

/*
* @ module accent
*
* @ $data-head: text-color
* @ $icon: background-color
*/
$data-display-module-accent: (
	'normal-03': (
		'head' color(base, 080) color(base, 020),
		'body' color(base, 060) color(base, 020),
	),
	'accent-01': (
		'head' color(primary, 050) color(primary, 050),
		'body' color(primary, 050) color(primary, 050),
	),
);


.data-display {
	.data-list {
		.data-item {
			.data-wrap {
				.data-head {
					.data-name {
						&[class*=symbol-ltr-]::before,
						&[class*=symbol-rtl-]::after {
							content: '';
							display: block;
							background-repeat: no-repeat;
							background-size: cover;
						}
					}
				}
				.data-body {

				}
			}
		}
	}
	// outline
	@each $name, $line-height-head, $line-height-body, $font-size, $font-weight, $margin in $data-display-module-outline {
		&.#{$name} {
			.data-item {
				.data-wrap {
					
					.data-head {
						font-weight: $font-weight;
						.data-name {
							line-height: $line-height-head;
							font-size: calc($line-height-head / $font-size);
						}
					}
					.data-body {
	
					}
				}
			}
			
			&.style-a {
				.data-item {
					.data-wrap {
						.data-head {
							.data-name {
		
							}
						}
						.data-body {
		
						}
					}
				}
			}
			&.style-b {
			}
		}
	}

	.data-name {

	}

	a.data-name::after {

	}

	// icon
	// &.data-name[class*=symbol-ltr-]::before,
	// &.data-name[class*=symbol-rtl-]::after {
	// 	content: '';
	// 	display: block;
	// 	background-repeat: no-repeat;
	// 	background-size: cover;
	// }
	// accent
	@each $accent-name in $data-display-module-accent {
		&.#{nth($accent-name, 1)} {
			@each $type-name, $color, $background-color in map-get($data-display-module-accent, nth($accent-name, 1)) {
				&.color-#{$type-name} {
					color: $color;
					
					@each $icon-name, $icon in $symbol-list {
						&.data-name.symbol-ltr-#{$icon-name}::before {background-image: icon($icon-name, $background-color);}
						&.data-name.symbol-rtl-#{$icon-name}::after {background-image: icon($icon-name, $color);}

					}
				}
			}
		}
	}	

}

.data-display.module-a {
	.data-list {
		.data-item {
			.data-wrap {
				display: flex;
				align-items: center;
				.data-head {
					.data-name {
						color: color(base, 040);
					}
				}
				.data-body {
					color: color(base, 070);
				}
			}
		}
	}
	// outline module-a
	@each $name, $line-height-head, $line-height-body, $font-size, $font-weight, $margin in $data-display-module-outline {
		&.#{$name} {
			.data-item {
				.data-wrap {
					.data-head {
						flex-basis: $line-height-head * 3;
						.data-name {
							
						}
					}
					.data-body {
						width: calc(100% - ($line-height-head * 3));
						line-height: $line-height-head;
						font-size: calc($line-height-head / $font-size);
					}
				}
				& + .data-item {
					margin-top: $margin;
				}
			}
			
			&.style-a {
				.data-item {
					.data-wrap {
						.data-head {
							.data-name {
		
							}
						}
						.data-body {
		
						}
					}
				}
			}
			&.style-b {
			}
		}
	}
}


.data-display.module-b {
	.data-list {
		display: flex;
		flex-wrap: wrap;
		.data-item {
			.data-wrap {
				.data-head {
					.data-name {
						display: flex;
						color: color(base, 080);
						text-decoration: none;
					}
				}
				.data-body {
					color: color(base, 060);
				}
			}
		}
	}


	// outline module-b
	@each $name, $line-height-head, $line-height-body, $font-size, $font-weight, $margin in $data-display-module-outline {
		&.#{$name} {
			.data-item {
				@include display-column(2, $margin, $margin - 4);
								// 컬럼 객수 , margin-left, marign-top 

				.data-wrap {
					.data-head {
						.data-name {
							&[class*=symbol-ltr-]::before,
							&[class*=symbol-rtl-]::after {
								width: $line-height-head;
								min-width: $line-height-head;
								height: $line-height-head;
								// background-color: red;
							}
						}
					}
					.data-body {

						line-height: $line-height-body;
						font-size: calc($line-height-body / $font-size);
	
					}
				}
			}
			// icon
			&[class*=symbol-ltr-] .data-name::before,
			&[class*=symbol-rtl-] .data-name::after {
				width: $line-height-head;
				min-width: $line-height-head;
				height: $line-height-head;
			}
			
			&.style-a {
				.data-item {
					.data-wrap {
						.data-head {
							.data-name {
		
							}
						}
						.data-body {
		
						}
					}
				}
			}

			&.style-b {
			}
		}
	}	
}