/*
 * @name submit-form
 * 서식 전소용 UIO
 * 1. label 유무
 * 2. label과 입력 폼의 배치
 * 3. 아이템과 form-area의 여백
 */

.submit-form.module-a {
	margin: 0;
	padding: 0;
	border: hidden;

	legend {
		@include hidden;
	}
	
	+.submit-form.module-a {
		margin-top: 16rem;
	}
	
	.form-list {
		.form-item {
			.form-wrap {
				.form-head {
					display: flex;
					align-items: center;

					.form-name {
						display: block;
					}
				}

				.form-body {
					.form-area {

					}
				}
			}
		}
	}

	// type none
	&:not([class*="type-"]) {
		.form-head {
			@include hidden();
		}
	}

	// type-a
	&.type-a {
		.form-list {
			.form-item {
				.form-wrap {
					display: flex;
					align-items: flex-start;
				}
			}
		}
	}

	&.medium {
		.form-list {
			.form-item {
				+.form-item {
					margin-top: 8rem;
				}
				.form-wrap {
					.form-head {
						flex-shrink: 0;
						margin-right: 8rem;
						width: 56rem;
						min-height: 40rem;
						@include font((outline: body, size: small)...);
					}
					.form-body {
						flex: 1 1 100%;
						width: 100%;
					}
				}
			}
		}
	}

	&.large {
		.form-list {
			.form-item {
				+.form-item {
					margin-top: 8rem;
				}
				.form-wrap {
					.form-head {
						flex-shrink: 0;
						margin-right: 8rem;
						width: 56rem;
						min-height: 48rem;
						@include font((outline: body, size: small)...);
					}
					.form-body {
						flex: 1 1 100%;
						width: 100%;
					}
				}
			}
		}
	}

	// form-area
	.form-area {
		display: flex;

		.sign {
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 16rem;
			text-align: center;
			// color: color(base, 060);
		}

		.form {
			&:not(.flex) {
				flex-shrink: 0;
			}
			&.flex {
				flex: 1 1 100%;
				width: 100%;
			}
		}

		.unit {
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 16rem;
			text-align: center;
			// color: color(base, 060);
		}	

		.form.medium {
			&~*,
			&+* {
				margin-left: 8rem;
			}
		}

		.form.large {
			&~*,
			&+* {
				margin-left: 10rem;
			}
		}

		.form.x-large {
			&~*,
			&+* {
				margin-left: 12rem;
			}
		}
	}
}




.file-upload.module-a {

	.upload-head {
		position: relative;
		height: 56rem;
		width: 56rem;	

		
		.file-to-upload {
			position: relative;
			
			.file-elem {
				left: 0;
				top: 0;
				margin: 0;
				padding: 0;
				width: 56rem;
				height: 56rem;
				border: hidden;
				border-radius: 0;
				background-color: transparent;
				appearance: none;
			}
		}
		
		.uploaded-files {			
			.head {
				@include hidden;
			}
			.body {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				height: 56rem;
				width: 56rem;		

				border-radius: 16rem;
				border: 2rem solid color(base, 010);
				box-sizing: border-box;
				background-color: color(base, 000);
				color: color(base, 030);

				@include font((outline: head, size: xx-small)...);

				&::before {
					content: '';
					flex-shrink: 0;
					display: block;
					width: 24rem;
					height: 18rem;
					background: icon(fill-camera, color(base, 030)) no-repeat center/cover;
				}
			}
		}
	}
}