/*
 * @name submit-form
 * 서식 전소용 UIO
 * 1. label 유무
 * 2. label과 입력 폼의 배치
 * 3. 아이템과 form-area의 여백
 */
 fieldset {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.submit-form.module-a {
	legend {
		@include hidden;
	}

	+.submit-form.module-a {
		margin-top: 16rem;
	}

	.form-list {
		.form-item {
			.form-wrap {
				.form-head {
					display: flex;
					align-items: center;

					.form-name {
						display: block;
					}
				}

				.form-body {
					.form-area {

					}
				}
			}
		}
	}

	.form-util {
		margin-top: 20rem;
	}


	// type none
	&:not([class*="type-"]) {
		.form-head {
			@include hidden();
		}
	}

	// type-a
	&.type-a {
		.form-list {
			.form-item {
				.form-wrap {
					display: flex;
					align-items: flex-start;
				}
			}
		}
	}

	&.medium {
		.form-list {
			.form-item {
				+.form-item {
					margin-top: 8rem;
				}
				.form-wrap {
					.form-head {
						flex-shrink: 0;
						margin-right: 8rem;
						width: 56rem;
						min-height: 40rem;
						@include font((outline: body, size: small)...);
					}
					.form-body {
						flex: 1 1 100%;
						width: 100%;
					}
				}
			}
		}
	}

	&.large {
		.form-list {
			.form-item {
				+.form-item {
					margin-top: 8rem;
				}
				.form-wrap {
					.form-head {
						flex-shrink: 0;
						margin-right: 8rem;
						width: 56rem;
						min-height: 48rem;
						@include font((outline: body, size: small)...);
					}
					.form-body {
						flex: 1 1 100%;
						width: 100%;
					}
				}
			}
		}
	}

	// form-area
	.form-area {
		display: flex;

		.sign {
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 16rem;
			text-align: center;
			// color: color(base, 060);
		}

		.form {
			&:not(.flex) {
				flex-shrink: 0;
			}
			&.flex {
				flex: 1 1 100%;
				width: 100%;
			}
		}

		.unit {
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 16rem;
			text-align: center;
			// color: color(base, 060);
		}	

		.form.medium {
			&~*,
			&+* {
				margin-left: 8rem;
			}
		}

		.form.large {
			&~*,
			&+* {
				margin-left: 10rem;
			}
		}

		.form.x-large {
			&~*,
			&+* {
				margin-left: 12rem;
			}
		}
	}
}