@import '_variables';
@import '_mixin';

@keyframes popup-active {
	0% {
		visibility: hidden;
		opacity: 0;
	}
	100% {
		visibility: visible;
		opacity: 1;
	}
}

@keyframes popup-inactive {
	0% {
		visibility: visible;
		opacity: 1;
	}
	100% {
		visibility: hidden;
		opacity: 0;
	}
}

html.active-content-popup {	
	body {
		overflow: hidden;
	}
}

.content-popup.module-a.style-a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: fixed;
	z-index: 60;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
	background-color: rgba(0,0,0,0.0);
	

	&:not(.enabled) {
		display: none;
	}

	&:not(.active) {
		animation-name: popup-inactive;
		animation-duration: 0.75s;
		animation-fill-mode: forwards;
		animation-timing-function: ease;
	}

	&.active {
		background-color: rgba(0,0,0,0.2);
		// background-color: rgba(0,0,0,0.7);

		animation-name: popup-active;
		animation-duration: 0.75s;
		animation-fill-mode: forwards;
		animation-timing-function: ease;
	}

	// popup size
	&.medium {
		.popup-page-body {
			max-width: 100%;
			height: 100vh;
			width: 100%;
		}
	}

	.popup-page-body {
		display: flex;
		position: relative;
		overflow: hidden;
		opacity: 1;
		visibility: visible;
		transition: visibility 0.25s ease, opacity 0.25s ease;

		
		.popup-local {
			display: flex;
			flex-direction: column;
			overflow: hidden;
			width: 100%;
			// background-color: #fff;
			// box-shadow: 0 4rem 8rem 0 rgba(0,0,0,0.08), 0 0 0 0.0625rem rgba(0,0,0,0.05);

			.popup-local-head {
				@include hidden;
			}
	
			.popup-local-body {
				display: flex;
				flex-grow: 1;
				overflow-y: auto;
				@include overflow-scroll(custom);

				.popup-content {
					display: flex;
					justify-content: center;
					align-items: center;
					.popup-content-body {
						
						
						.section.module-a {
							.section-head {
								@include hidden;
							}

						}

					}
				}
			}
		}
	}

	.btn.popup-close {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 48rem;
		right: 28rem;
		outline-offset: -2px;
		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 48rem;
			height: 48rem;
			background:rgba(0,0,0,0.1);
			border-radius: 50%;
		}
		
		svg {
			display: block;
			width: 32rem;
			height: 32rem;
			fill: color(base, 010);

		}
	}
}





/**
 * @component	toast-popup
 * @moudle		module-a
 * @name		common
 * @update		2022-03-27
 */
@keyframes toast-popup-active {
	0% {
		transform: translate(0, 120%);
	}
	100% {
		transform: translate(0, 0);
	}
}

@keyframes toast-popup-inactive {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, 120%);
	}
}

.toast-popup.module-a.style-b {
	display: flex;
	justify-content: center;
	align-items: flex-end;

	position: absolute;
	z-index: 50;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	outline: none;
	background-color: rgba(0,0,0,0);
	transition: background-color 0.5s ease;

	&:not(.enabled) {
		display: none;
	}

	&:not(.active) {
		.popup-page-body {
			animation-name: toast-popup-inactive;
			animation-duration: 0.25s;
			animation-fill-mode: forwards;
			animation-timing-function: cubic-bezier(.2,0,0,1);
		}
	}
	
	&.active {
		background-color: rgba(0,0,0,0.2);

		.popup-page-body {
			animation-name: toast-popup-active;
			animation-duration: 0.25s;
			animation-fill-mode: forwards;
			animation-timing-function: cubic-bezier(.2,0,0,1);
		}
	}

	.popup-page-body {
		flex: 0 0 100%;
		width: 100%;

		.popup-local {
			overflow: hidden;
			border-top-right-radius: 16rem;
			border-top-left-radius: 16rem;
			background-color: #fff;

			.popup-local-head {
				@include hidden;
			}

			.popup-local-body {
				margin: 56rem 0 24rem 0;
				padding-right: $container-gap;
				padding-left: $container-gap;
			}


			.btn.popup-close {
				position: absolute;
				top: 16rem;
				left: 50%;
				transform: translate(-50%, 0);

				svg {
					fill: color(base, 040);
				}
			}
		}
	}
}