/**
 * Breakpoints
 */

$breakpoints: (
	frame:		1920px,

	xxx-large:	2560px,		// laptop 4K
	xx-large:	1440px,		// laptop large
	x-large:	1024px,		// laptop
	large:		768px,		// tablet
	medium:		425px,		// mobile large
	small:		375px,		// mobile medium
	x-small:	320px,		// mobile small
	xx-small:	280px,		// mobile x-small
);

// 이상
@mixin respond-above($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		$breakpoint-value: map-get($breakpoints, $breakpoint);
		@media (min-width: $breakpoint-value) {
			@content;
		}
	} @else {
		@warn 'Invalid breakpoint: #{$breakpoint}.';
	}
}

// 이하
@mixin respond-below($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		$breakpoint-value: map-get($breakpoints, $breakpoint);
		@media (max-width: ($breakpoint-value - 1)) {
			@content;
		}
	} @else {
		@warn 'Invalid breakpoint: #{$breakpoint}.';
	}
}

@mixin respond-between($lower, $upper) {
	@if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {
		$lower-breakpoint: map-get($breakpoints, $lower);
		$upper-breakpoint: map-get($breakpoints, $upper);
		@media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
			@content;
		}
	} @else {
		@if (map-has-key($breakpoints, $lower) == false) {
			@warn 'Your lower breakpoint was invalid: #{$lower}.';
		}
		@if (map-has-key($breakpoints, $upper) == false) {
			@warn 'Your upper breakpoint was invalid: #{$upper}.';
		}
	}
}


/**
 * Vertical rhythm
 */

$vertical-rhythm: (
	laptop: (
		content: 8rem,
		section: 4rem,
		subsection: 3rem,
		subsubsection: 2rem,
	),
	mobile: (
		content: 4rem,
		section: 2.5rem,
		subsection: 2rem,
		subsubsection: 1.5rem,
	)
);

/**
 * Gutter
 */

$gutter: (
	laptop: (
		content: 4rem,
		section: 3rem,
		subsection: 2rem,
		subsubsection: 1.5rem,
	),
	mobile: (
		content: 1.5rem,
		section: 1.5rem,
		subsection: 1rem,
		subsubsection: 1rem,
	)
);


/**
 * Color theme creation
 */

// Color palettes










$color-palettes: (
	// base: (
	// 	100: #000000,
	// 	090: #191919,
	// 	080: #2d2d2d,
	// 	070: #484848,
	// 	060: #646464,
	// 	050: #848484,
	// 	040: #a3a3a3,
	// 	030: #bcbcbc,
	// 	020: #d8d8d8,
	// 	010: #ebebeb,
	// 	005: #f5f5f5
	// 	000: #ffffff,
	// ),
	// primary: (
	// 	100: #000000,
	// 	090: #330b0c,
	// 	080: #661618,
	// 	070: #982125,
	// 	060: #cb2c31,
	// 	050: #fe373d,
	// 	040: #fe5f64,
	// 	030: #fe878b,
	// 	020: #ffbfc1,
	// 	010: #ffdfe0,
	// 	005: #ffedee
	// 	000: #ffffff,
	// ),



	base: (
		10: #000000,
		09: #191919,
		08: #2d2d2d,
		07: #484848,
		06: #646464,
		05: #848484,
		04: #a3a3a3,
		03: #bcbcbc,
		02: #d8d8d8,
		01: #ebebeb,
		00: #ffffff,
	),
	primary: (
		10: #000000,
		09: #330b0c,
		08: #661618,
		07: #982125,
		06: #cb2c31,
		05: #fe373d,
		04: #fe5f64,
		03: #fe878b,
		02: #ffbfc1,
		01: #ffdfe0,
		00: #ffffff,
	),
	secondary: (
		01: #3ab8ff,
		02: #ffb274,
	),

	etc: (
		01: #f2f4f6,
	),
);
// Create Color
@function color($theme: normal, $variant: 00, $opacity: 1) {
	$set-color: map-get($color-palettes, $theme, $variant);
	$create-color: rgba(red($set-color),green($set-color),blue($set-color),$opacity);
	@return $create-color;
}


/**
 * Font systems
 */

// Font theme
$font-theme: (
	bui-body: (
		font-family: #{Roboto, Noto Sans KR, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, dotum, 돋움, sans-serif},
		letter-spacing: normal,
		font-weight: (
			thin:			100,
			extra-light:	200,
			light:			300,
			regular:		400,
			medium:			500,
			semi-bold:		500,
			bold:			700,
			black:			900,
		),
	),
	bui-head: (
		font-family: #{Roboto Mono, Noto Sans KR, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, dotum, 돋움, sans-serif},
		letter-spacing: normal,
		font-weight: (
			thin:			100,
			extra-light:	200,
			light:			300,
			regular:		400,
			medium:			500,
			semi-bold:		600,
			bold:			700,
			black:			700,
		),
	),
	code: (
		font-family: #{Consolas, Courier New, monospace, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, dotum, 돋움, sans-serif},
		letter-spacing: normal,
		font-weight: (
			thin:			100,
			extra-light:	200,
			light:			300,
			regular:		400,
			medium:			500,
			semi-bold:		500,
			bold:			700,
			black:			900,
		),
	),
	kr: (
		font-family: #{Noto Sans KR, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, dotum, 돋움, sans-serif},
		letter-spacing: normal,
		font-weight: (
			thin:			100,
			light:			300,
			regular:		400,
			medium:			400,
			bold:			700,
			black:			900,
		),
	),
	en: (
		font-family: #{Opensans, Apple SD Gothic Neo, Malgun Gothic, 맑은 고딕, dotum, 돋움, sans-serif},
		letter-spacing: normal,
		font-weight: (
			thin:			300,
			light:			300,
			regular:		300,
			medium:			600,
			bold:			600,
			black:			900,
		),
	),
);

// Font outlines
$font-outline: (
	head: (
		x-large:	(font-size: 20rem, line-height: 28rem),
		large:		(font-size: 18rem, line-height: 26rem),
		medium:		(font-size: 16rem, line-height: 24rem),
		small:		(font-size: 14rem, line-height: 22rem),
		x-small:	(font-size: 12rem, line-height: 20rem),
		xx-small:	(font-size: 10rem, line-height: 18rem)
	),

	body: (
		x-large:	(font-size: 20rem, line-height: 28rem),
		large:		(font-size: 18rem, line-height: 26rem),
		medium:		(font-size: 16rem, line-height: 24rem),
		small:		(font-size: 14rem, line-height: 22rem),
		x-small:	(font-size: 12rem, line-height: 20rem),
		xx-small:	(font-size: 10rem, line-height: 18rem)
	),
);

// Create font declaration
@mixin font($outline: &, $size: &, $line-height: &, $style: &, $weight: &, $family: &, $letter-spacing: &) {
	@if $size != & {
		@if $outline != & {
			font: {size: map-get($font-outline, $outline, $size, font-size);}
			@if $line-height != & {
				line-height: $line-height;
			} @else {
				line-height: map-get($font-outline, $outline, $size, line-height);
			}
		} @else {
			font: {size: map-get($font-outline, body, $size, font-size);}
			@if $line-height != & {
				line-height: $line-height;
			} @else {
				line-height: map-get($font-outline, $outline, $size, line-height);
			}
		}
	}
	@if $style != & {
		font: {style: $style;}
	}
	@if $weight != & {
		@if $family != & {
			font: {weight: map-get($font-theme, $family, font-weight, $weight);}
		} @else {
			font: {weight: map-get($font-theme, default, font-weight, $weight);}
		}
	}
	@if $family != & {
		font: {family: map-get($font-theme, $family, font-family);}
	}
	@if $letter-spacing != & {
		letter-spacing: $letter-spacing;
	}
}


/**
 * System icons
 */

// Icon lit
$symbol-list: (
	// sample
	sample:						(size: 24 24, path: ''),

	// bui
	bui:						(size: 24 24, path: 'M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z'),

	//information
	fill-arrow-back:			(size: 24 24, path: 'M12.7 5.7C13.1 5.3 13.1 4.7 12.7 4.3C12.3 3.9 11.7 3.9 11.3 4.3L4.3 11.3C4.1 11.5 4 11.7 4 12C4 12.3 4.1 12.5 4.3 12.7L11.3 19.7C11.7 20.1 12.3 20.1 12.7 19.7C13.1 19.3 13.1 18.7 12.7 18.3L7.4 13H19C19.6 13 20 12.6 20 12C20 11.4 19.6 11 19 11H7.4L12.7 5.7Z'),
	fill-camera:				(size: 24 24, path: 'M14.4 12.65C14.4 13.95 13.3 15.05 12 15.05C10.7 15.05 9.6 13.95 9.6 12.65C9.6 11.35 10.7 10.25 12 10.25C13.3 10.25 14.4 11.35 14.4 12.65ZM8.4 6.75L9.8 5.25H14.3L15.7 6.75H18C18.8 6.75 19.5 7.45 19.5 8.25V17.25C19.5 18.05 18.8 18.75 18 18.75H6C5.2 18.75 4.5 18.05 4.5 17.25V8.25C4.5 7.45 5.2 6.75 6 6.75H8.4ZM8.2 12.75C8.2 14.85 9.9 16.55 12 16.55C14.1 16.55 15.8 14.85 15.8 12.75C15.8 10.65 14.1 8.95 12 8.95C9.9 8.95 8.2 10.65 8.2 12.75Z'),
	fill-caret-down:			(size: 24 24, path: 'M11.0659 16.0526C11.5476 16.6504 12.4524 16.6504 12.9341 16.0526L18.2283 9.48033C18.8673 8.68704 18.3076 7.50098 17.2942 7.50098H6.70577C5.69239 7.50098 5.13269 8.68704 5.77172 9.48033L11.0659 16.0526Z'),
	fill-caret-up:				(size: 24 24, path: 'M12.9341 7.94939C12.4524 7.3515 11.5476 7.3515 11.0659 7.9494L5.77172 14.5216C5.13269 15.3149 5.69239 16.501 6.70578 16.501L17.2942 16.501C18.3076 16.501 18.8673 15.3149 18.2283 14.5216L12.9341 7.94939Z'),
	fill-check:					(size: 24 24, path: 'M19.6339 6.49112C20.122 6.97927 20.122 7.77073 19.6339 8.25888L10.3839 17.5089C9.89573 17.997 9.10427 17.997 8.61612 17.5089L4.36612 13.2589C3.87796 12.7707 3.87796 11.9793 4.36612 11.4911C4.85427 11.003 5.64573 11.003 6.13388 11.4911L9.5 14.8572L17.8661 6.49112C18.3543 6.00296 19.1457 6.00296 19.6339 6.49112Z'),
	fill-chevron-down:			(size: 24 24, path: 'M4.36615 7.4823C4.85432 6.99416 5.64578 6.99419 6.13392 7.48236L11.9996 13.3484L17.8661 7.4823C18.3543 6.99416 19.1458 6.99419 19.6339 7.48236C20.1221 7.97053 20.122 8.76199 19.6339 9.25013L11.9994 16.884L4.36608 9.25006C3.87795 8.76189 3.87798 7.97043 4.36615 7.4823Z'),
	fill-chevron-left:			(size: 24 24, path: 'M16.5179 4.36664C17.006 4.85481 17.006 5.64627 16.5178 6.1344L10.6517 12.0001L16.5179 17.8666C17.006 18.3548 17.006 19.1463 16.5178 19.6344C16.0297 20.1225 15.2382 20.1225 14.7501 19.6343L7.11621 11.9999L14.7501 4.36657C15.2383 3.87844 16.0298 3.87846 16.5179 4.36664Z'),
	fill-chevron-right:			(size: 24 24, path: 'M7.4823 19.6343C6.99416 19.1462 6.99419 18.3547 7.48236 17.8666L13.3484 12.0009L7.4823 6.13434C6.99416 5.64617 6.99419 4.85471 7.48236 4.36657C7.97053 3.87844 8.76199 3.87846 9.25013 4.36664L16.884 12.001L9.25006 19.6344C8.76189 20.1225 7.97043 20.1225 7.4823 19.6343Z'),
	fill-chevron-up:			(size: 24 24, path: 'M19.6339 16.5184C19.1457 17.0065 18.3542 17.0065 17.8661 16.5183L12.0004 10.6522L6.13385 16.5184C5.64568 17.0065 4.85422 17.0065 4.36608 16.5183C3.87795 16.0301 3.87798 15.2387 4.36615 14.7506L12.0006 7.1167L19.6339 14.7506C20.1221 15.2388 20.122 16.0302 19.6339 16.5184Z'),
	fill-circle-caution:		(size: 24 24, path: 'M12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM12 16C12.5523 16 13 15.5523 13 15C13 14.4477 12.5523 14 12 14C11.4477 14 11 14.4477 11 15C11 15.5523 11.4477 16 12 16ZM12 13C12.5523 13 13 12.5523 13 12V9C13 8.44772 12.5523 8 12 8C11.4477 8 11 8.44772 11 9L11 12C11 12.5523 11.4477 13 12 13Z'),
	fill-circle-delete:			(size: 24 24, path: 'M12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM16.0403 16.0403C15.6497 16.4308 15.0166 16.4308 14.626 16.0403L12.0001 13.4143L9.3741 16.0404C8.98357 16.4309 8.35041 16.4309 7.95989 16.0404C7.56936 15.6498 7.56936 15.0167 7.95989 14.6261L10.5859 12.0001L7.95989 9.3741C7.56936 8.98357 7.56936 8.35041 7.95989 7.95989C8.35041 7.56936 8.98357 7.56936 9.3741 7.95989L12.0001 10.5859L14.626 7.95998C15.0166 7.56946 15.6497 7.56946 16.0403 7.95998C16.4308 8.35051 16.4308 8.98367 16.0403 9.3742L13.4143 12.0001L16.0403 14.626C16.4308 15.0166 16.4308 15.6497 16.0403 16.0403Z'),
	fill-circle-information:	(size: 24 24, path: 'M12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM12 16C12.5523 16 13 15.5523 13 15C13 14.4477 12.5523 14 12 14C11.4477 14 11 14.4477 11 15C11 15.5523 11.4477 16 12 16ZM12 13C12.5523 13 13 12.5523 13 12V9C13 8.44772 12.5523 8 12 8C11.4477 8 11 8.44772 11 9V12C11 12.5523 11.4477 13 12 13Z'),
	fill-circle-more:			(size: 24 24, path: 'M12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20ZM9.5 12C9.5 12.8284 8.82843 13.5 8 13.5C7.17157 13.5 6.5 12.8284 6.5 12C6.5 11.1716 7.17157 10.5 8 10.5C8.82843 10.5 9.5 11.1716 9.5 12ZM13.5 12C13.5 12.8284 12.8284 13.5 12 13.5C11.1716 13.5 10.5 12.8284 10.5 12C10.5 11.1716 11.1716 10.5 12 10.5C12.8284 10.5 13.5 11.1716 13.5 12ZM17.5 12C17.5 12.8284 16.8284 13.5 16 13.5C15.1716 13.5 14.5 12.8284 14.5 12C14.5 11.1716 15.1716 10.5 16 10.5C16.8284 10.5 17.5 11.1716 17.5 12Z'),
	fill-close:					(size: 24 24, path: 'M19.0002 6.76773C19.4883 6.27958 19.4883 5.48812 19.0002 4.99997C18.512 4.51181 17.7206 4.51181 17.2324 4.99997L12.0001 10.2322L6.76743 5C6.27927 4.51184 5.48782 4.51184 4.99966 5C4.51151 5.48816 4.51151 6.27961 4.99966 6.76777L10.2323 12L5 17.2324C4.51184 17.7206 4.51184 18.512 5 19.0002C5.48816 19.4883 6.27961 19.4883 6.76777 19.0002L12.0001 13.7677L17.2324 19C17.7205 19.4882 18.512 19.4882 19.0001 19C19.4883 18.5118 19.4883 17.7204 19.0001 17.2322L13.7679 12L19.0002 6.76773Z'),
	fill-download:				(size: 24 24, path: 'M11 7V12.6L8.7 10.3C8.3 9.9 7.7 9.9 7.3 10.3C6.9 10.7 6.9 11.3 7.3 11.7L12 16.4L16.7 11.7C17.1 11.3 17.1 10.7 16.7 10.3C16.3 9.9 15.7 9.9 15.3 10.3L13 12.6V7C13 6.4 12.6 6 12 6C11.4 6 11 6.4 11 7ZM6 17.4C5.4 17.4 5 17.8 5 18.4C5 19 5.4 19.4 6 19.4H18C18.6 19.4 19 19 19 18.4C19 17.8 18.6 17.4 18 17.4H6Z'),
	fill-notice:				(size: 24 24, path: 'M5.3 15.3H7.6L12.5 18.6C13.4 19.2 14.6 18.6 14.6 17.5V6.5C14.6 5.4 13.4 4.8 12.5 5.4L7.7 8.7H5.3C4.6 8.7 4 9.3 4 10V14C4 14.7 4.6 15.3 5.3 15.3ZM17.9 15.1C17.5 15.3 17.1 15.4 16.6 15.4V8.7C17 8.7 17.5 8.8 17.9 9C18.3 9.2 18.7 9.4 19 9.7C19.3 10 19.6 10.4 19.7 10.8C19.9 11.2 20 11.6 20 12.1C20 12.5 19.9 13 19.7 13.4C19.5 13.8 19.3 14.2 19 14.5C18.7 14.7 18.3 14.9 17.9 15.1Z'),
	fill-plus:					(size: 24 24, path: 'M13.25 5.25C13.25 4.55964 12.6904 4 12 4C11.3096 4 10.75 4.55964 10.75 5.25V10.75L5.25 10.75C4.55964 10.75 4 11.3096 4 12C4 12.6904 4.55964 13.25 5.25 13.25H10.75V18.75C10.75 19.4404 11.3096 20 12 20C12.6904 20 13.25 19.4404 13.25 18.75V13.25H18.75C19.4404 13.25 20 12.6904 20 12C20 11.3096 19.4404 10.75 18.75 10.75L13.25 10.75V5.25Z'),
	fill-search:				(size: 24 24, path: 'M19.6,17.9l-2-2c0.9-1.2,1.4-2.7,1.4-4.3C19,7.4,15.6,4,11.5,4C7.4,4,4,7.4,4,11.5c0,4.1,3.4,7.5,7.5,7.5c1.6,0,3.1-0.5,4.3-1.4l2,2c0.5,0.5,1.3,0.5,1.8,0C20.1,19.1,20.1,18.4,19.6,17.9z M11.5,16.5c-2.8,0-5-2.2-5-5s2.2-5,5-5s5,2.2,5,5S14.3,16.5,11.5,16.5z'),
	fill-write:					(size: 24 24, path: 'M14.3088 5.63228C14.7134 5.22744 15.2621 5 15.8343 5C16.1176 5 16.3982 5.05584 16.6599 5.16432C16.9217 5.27281 17.1595 5.43182 17.3599 5.63228C17.5602 5.83273 17.7191 6.07071 17.8276 6.33262C17.936 6.59453 17.9918 6.87524 17.9918 7.15873C17.9918 7.44222 17.936 7.72293 17.8276 7.98484C17.7191 8.24675 17.5602 8.48473 17.3599 8.68519L7.96757 18.083C7.89535 18.1553 7.80485 18.2065 7.70577 18.2313L4.70023 18.9832C4.50819 19.0312 4.30504 18.9749 4.16507 18.8348C4.0251 18.6948 3.96883 18.4915 4.01684 18.2994L4.76822 15.2921C4.79299 15.1929 4.84423 15.1024 4.91645 15.0301L14.3088 5.63228ZM13.0041 17C12.4521 17 12.0047 17.4477 12.0047 18C12.0047 18.5523 12.4521 19 13.0041 19H19.0006C19.5525 19 20 18.5523 20 18C20 17.4477 19.5525 17 19.0006 17H13.0041Z'),

	line-calendar-today:		(size: 24 24, path: 'M17.2,6.1h-1.3V4.8c0-0.4-0.3-0.8-0.8-0.8c-0.4,0-0.8,0.3-0.8,0.8v1.3H9.7V4.8C9.7,4.4,9.3,4,8.9,4C8.5,4,8.1,4.4,8.1,4.8v1.3H6.8C5.6,6.1,4.5,7,4.5,8.2v9.6c0,1.2,1.1,2.1,2.3,2.1h10.4c1.2,0,2.3-0.9,2.3-2.1V8.2C19.5,7,18.4,6.1,17.2,6.1z M17.9,17.8c0,0.3-0.3,0.6-0.7,0.6H6.8c-0.5,0-0.7-0.3-0.7-0.6v-5.6h11.8V17.8z M17.9,10.7H6.1V8.2c0-0.3,0.3-0.6,0.7-0.6h1.3v0.3c0,0.4,0.3,0.8,0.8,0.8c0.4,0,0.8-0.3,0.8-0.8V7.6h4.6v0.3c0,0.4,0.3,0.8,0.8,0.8c0.4,0,0.8-0.3,0.8-0.8V7.6h1.3c0.5,0,0.7,0.3,0.7,0.6V10.7z'),
	line-comment:				(size: 24 24, path: 'M6.5 7.5C6.22386 7.5 6 7.72386 6 8V17.6594L8.6241 14.6675C8.71903 14.5593 8.85602 14.4972 9 14.4972H17.5C17.7761 14.4972 18 14.2734 18 13.9972V8C18 7.72386 17.7761 7.5 17.5 7.5H6.5ZM5 8C5 7.17157 5.67157 6.5 6.5 6.5H17.5C18.3284 6.5 19 7.17157 19 8V13.9972C19 14.8256 18.3284 15.4972 17.5 15.4972H9.22653L5.8759 19.3175C5.73862 19.474 5.51871 19.5291 5.32386 19.4557C5.12901 19.3824 5 19.196 5 18.9878V8Z'),
	line-description:			(size: 24 24, path: 'M18.2 9.10002C18.2 9.00002 18.2 9.00002 18.1 8.90002C18.1 8.80002 18 8.80002 18 8.70002L13.9 4.60002L13.8 4.50002C13.7 4.40002 13.5 4.40002 13.4 4.40002H7.89995C7.29995 4.40002 6.79995 4.60002 6.39995 5.00002C5.99995 5.40002 5.69995 5.90002 5.69995 6.50002V17.5C5.69995 18.1 5.89995 18.6 6.29995 19C6.69995 19.4 7.19995 19.6 7.79995 19.6H16C16.6 19.6 17.1 19.4 17.5 19C17.9 18.6 18.1 18.1 18.1 17.5V9.30002C18.3 9.20002 18.3 9.10002 18.2 9.10002ZM14.1 7.00002L15.6 8.50002H14.1V7.00002ZM16.7 17.5C16.7 17.7 16.6 17.8 16.5 17.9C16.4 18 16.2 18.1 16.1 18.1H7.89995C7.69995 18.1 7.59995 18 7.49995 17.9C7.39995 17.8 7.29995 17.6 7.29995 17.5V6.50002C7.29995 6.30002 7.39995 6.20002 7.49995 6.10002C7.59995 6.00002 7.69995 5.90002 7.89995 5.90002H12.6V9.20002C12.6 9.60002 12.9 10 13.4 10H16.7V17.5ZM8.69995 12.5C8.69995 12.1 8.99995 11.7 9.49995 11.7H14.6C15 11.7 15.4 12 15.4 12.5C15.4 12.9 15.1 13.3 14.6 13.3H9.39995C8.99995 13.3 8.69995 12.9 8.69995 12.5ZM15.3 15.6C15.3 16 15 16.4 14.5 16.4H9.39995C8.99995 16.4 8.59995 16.1 8.59995 15.6C8.59995 15.2 8.89995 14.8 9.39995 14.8H14.5C15 14.8 15.3 15.2 15.3 15.6Z'),
	line-home:					(size: 24 24, path: 'M17.6572 18.3597V10.563C17.6572 10.4129 17.5916 10.2703 17.4776 10.1725L12.3347 5.76439C12.1421 5.5993 11.858 5.5993 11.6654 5.76439L6.5225 10.1725C6.40851 10.2703 6.34291 10.4129 6.34291 10.563V18.3597H8.40005V15.274C8.40005 13.2858 10.0118 11.674 12 11.674C13.9883 11.674 15.6 13.2858 15.6 15.274V18.3597H17.6572ZM5.51842 9.00112C5.06246 9.39194 4.80005 9.96249 4.80005 10.563V18.874C4.80005 19.4421 5.26056 19.9026 5.82862 19.9026H9.72724C9.84635 19.9026 9.94291 19.806 9.94291 19.6869V15.274C9.94291 14.1379 10.8639 13.2169 12 13.2169C13.1362 13.2169 14.0572 14.1379 14.0572 15.274V19.6869C14.0572 19.806 14.1538 19.9026 14.2729 19.9026H18.1715C18.7395 19.9026 19.2 19.4421 19.2 18.874V10.563C19.2 9.96249 18.9376 9.39194 18.4817 9.00112L13.3388 4.59296C12.5684 3.93264 11.4317 3.93264 10.6613 4.59296L5.51842 9.00112Z'),
	line-notice:				(size: 24 24, path: 'M12.6 4.9L7.2 8.6H4.5C3.9 8.6 3.5 9.1 3.5 9.6V14.3C3.5 14.9 4 15.3 4.5 15.3H7.1L12.5 19C13.2 19.5 14.1 19 14.1 18.1V5.8C14.2 5 13.3 4.5 12.6 4.9ZM12.7 17.2L7.7 13.8H5.1V10.1H7.7L12.7 6.7V17.2ZM20.3 10.6C20.2 10.2 20 9.7 19.7 9.4C19.4 9 19 8.7 18.6 8.5C18.2 8.3 17.7 8.1 17.2 8.1C16.3 8.1 15.7 8.8 15.7 9.6V14.3C15.7 15.2 16.4 15.8 17.2 15.8C17.7 15.8 18.2 15.7 18.6 15.4C19 15.2 19.4 14.8 19.7 14.5C20 14.1 20.2 13.7 20.3 13.3C20.4 12.9 20.5 12.4 20.5 11.9C20.5 11.5 20.4 11.1 20.3 10.6ZM18.8 12.9C18.8 13 18.7 13.1 18.7 13.2C18.6 13.4 18.5 13.5 18.4 13.7C18.2 13.9 18 14.1 17.8 14.2C17.6 14.3 17.4 14.4 17.1 14.4V9.6C17.3 9.6 17.6 9.7 17.8 9.8C18 9.9 18.2 10.1 18.4 10.3C18.5 10.4 18.6 10.6 18.7 10.8C18.7 10.9 18.8 11 18.8 11.1C18.9 11.4 18.9 11.7 18.9 12C18.9 12.3 18.9 12.6 18.8 12.9Z'),
	line-profile:				(size: 24 24, path: 'M11.9999 4.1142C9.91702 4.1142 8.22849 5.80272 8.22849 7.88563C8.22849 8.98189 8.69623 9.96891 9.44302 10.658C9.32458 10.71 9.20721 10.7657 9.09103 10.8249C8.1764 11.2912 7.35679 11.9687 6.67368 12.8094C5.99074 13.65 5.45532 14.6398 5.09198 15.7194C4.96076 16.1093 4.85275 16.5086 4.76828 16.9142C4.41402 18.6155 5.86496 19.8858 7.37134 19.8858H16.6285C18.1349 19.8858 19.5858 18.6155 19.2315 16.9142C19.1471 16.5086 19.0391 16.1093 18.9078 15.7194C18.5445 14.6398 18.0091 13.65 17.3261 12.8094C16.643 11.9687 15.8234 11.2912 14.9088 10.8249C14.7926 10.7657 14.6752 10.71 14.5568 10.658C15.3036 9.96892 15.7714 8.98189 15.7714 7.88563C15.7714 5.80272 14.0828 4.1142 11.9999 4.1142ZM9.77135 7.88563C9.77135 6.65482 10.7691 5.65705 11.9999 5.65705C13.2307 5.65705 14.2285 6.65482 14.2285 7.88563C14.2285 9.11643 13.2307 10.1142 11.9999 10.1142C10.7691 10.1142 9.77135 9.11643 9.77135 7.88563ZM9.79177 12.1994C10.4986 11.8391 11.2483 11.6572 11.9999 11.6572C12.7515 11.6572 13.5013 11.8391 14.2081 12.1994C14.9157 12.5602 15.5702 13.0949 16.1287 13.7823C16.6874 14.47 17.1369 15.2944 17.4456 16.2115C17.5569 16.5422 17.6489 16.8822 17.7211 17.2288C17.83 17.752 17.3944 18.3429 16.6285 18.3429H7.37134C6.60546 18.3429 6.16978 17.752 6.27874 17.2288C6.35091 16.8822 6.44294 16.5422 6.55425 16.2115C6.86289 15.2944 7.3124 14.47 7.87111 13.7823C8.42966 13.0949 9.0841 12.5602 9.79177 12.1994Z'),

	bullet-dot:					(size: 24 24, path: 'M12,10c-1.1,0-2,0.9-2,2s0.9,2,2,2s2-0.9,2-2S13.1,10,12,10z'),
	bullet-dash:				(size: 24 24, path: 'M16,13H8v-2h8V13z'),
	bullet-square:				(size: 24 24, path: 'M14,14h-4v-4h4V14z'),
	bullet-star:				(size: 24 24, path: 'M10,14.1l1-1.7l-1.8-0.7l0.3-0.8l1.9,0.5l0.2-2h0.9l0.2,1.9l1.9-0.4l0.3,0.8L13,12.4l1,1.7l-0.7,0.5L12,13l-1.3,1.5L10,14.1z'),

	
	// help-outline:			(size: 24 24, path: 'M11.9861 2.8L13.7822 3C15.9929 3.48366 17.9677 4.7206 19.3702 6.5C20.6673 8.36787 21.2678 10.6333 21.0666 12.9C20.8509 15.1541 19.822 17.252 18.1728 18.8C16.4712 20.3285 14.2712 21.182 11.9861 21.2C10.7904 21.1701 9.6088 20.9333 8.49359 20.5C6.39283 19.6105 4.69245 17.977 3.71697 15.9112C2.74149 13.8454 2.55922 11.4919 3.20493 9.3C3.9101 7.13526 5.36016 5.2922 7.29616 4.1C8.71997 3.2651 10.3365 2.81701 11.9861 2.8V2.8ZM11.9861 2C10.1951 2.00053 8.43726 2.48411 6.89701 3.4C4.72705 4.6536 3.1198 6.69382 2.40665 9.1C1.70388 11.4909 1.91739 14.0586 3.00536 16.3C4.04146 18.5415 5.89993 20.2966 8.19423 21.2C9.39388 21.7124 10.6821 21.9842 11.9861 22V22C14.4646 22.0232 16.8576 21.0926 18.6717 19.4C20.5093 17.7388 21.6799 15.4636 21.9647 13C22.1719 10.501 21.4623 8.01208 19.969 6C18.4866 4.01396 16.3143 2.65786 13.882 2.2L11.9861 2ZM10.6889 13.6V13.1C10.7062 12.7157 10.8085 12.34 10.9882 12C11.2334 11.6215 11.5364 11.284 11.8863 11C12.2486 10.8141 12.5577 10.5388 12.7844 10.2C12.8896 10.1214 12.9661 10.0103 13.0022 9.8838C13.0383 9.75732 13.0319 9.62247 12.984 9.5C13.0837 9.4 12.984 9.3 12.984 9.2C12.984 9.1 12.7844 8.9 12.6846 8.9C12.5782 8.79916 12.4528 8.72068 12.3157 8.66915C12.1786 8.61763 12.0326 8.59412 11.8863 8.6C11.1146 8.68082 10.3675 8.91904 9.69102 9.3L8.99252 7.9C9.91314 7.30223 10.989 6.98922 12.0859 7C12.844 6.9846 13.5841 7.23185 14.1814 7.7C14.4596 7.8522 14.6726 8.1012 14.7801 8.4C14.9414 8.70708 15.0107 9.05436 14.9797 9.4C14.9862 9.81934 14.883 10.2331 14.6803 10.6C14.3589 11.071 13.9528 11.4779 13.4829 11.8L12.5848 12.5C12.5047 12.6893 12.4705 12.8949 12.485 13.1V13.6H10.6889ZM12.485 15L12.0859 14.8H11.5869C11.4406 14.7941 11.2946 14.8176 11.1576 14.8692C11.0205 14.9207 10.895 14.9992 10.7887 15.1C10.6855 15.2116 10.6163 15.3504 10.5891 15.5C10.5097 15.6173 10.4744 15.759 10.4893 15.9C10.4738 16.0728 10.5084 16.2465 10.5891 16.4C10.6163 16.5496 10.6855 16.6884 10.7887 16.8C10.895 16.9008 11.0205 16.9793 11.1576 17.0308C11.2946 17.0824 11.4406 17.1059 11.5869 17.1H12.0859L12.485 16.9C12.6733 16.6372 12.7777 16.3234 12.7844 16C12.821 15.8215 12.8129 15.6367 12.7606 15.4621C12.7084 15.2876 12.6137 15.1288 12.485 15V15ZM11.9861 2.8L13.7822 3C15.9929 3.48366 17.9677 4.7206 19.3702 6.5C20.6673 8.36787 21.2678 10.6333 21.0666 12.9C20.8509 15.1541 19.822 17.252 18.1728 18.8C16.4712 20.3285 14.2712 21.182 11.9861 21.2C10.7904 21.1701 9.6088 20.9333 8.49359 20.5C6.39283 19.6105 4.69245 17.977 3.71697 15.9112C2.74149 13.8454 2.55922 11.4919 3.20493 9.3C3.9101 7.13526 5.36016 5.2922 7.29616 4.1C8.71997 3.2651 10.3365 2.81701 11.9861 2.8V2.8ZM11.9861 2C10.1951 2.00053 8.43726 2.48411 6.89701 3.4C4.72705 4.6536 3.1198 6.69382 2.40665 9.1C1.70388 11.4909 1.91739 14.0586 3.00536 16.3C4.04146 18.5415 5.89993 20.2966 8.19423 21.2C9.39388 21.7124 10.6821 21.9842 11.9861 22V22C14.4646 22.0232 16.8576 21.0926 18.6717 19.4C20.5093 17.7388 21.6799 15.4636 21.9647 13C22.1719 10.501 21.4623 8.01208 19.969 6C18.4866 4.01396 16.3143 2.65786 13.882 2.2L11.9861 2ZM10.6889 13.6V13.1C10.7062 12.7157 10.8085 12.34 10.9882 12C11.2334 11.6215 11.5364 11.284 11.8863 11C12.2486 10.8141 12.5577 10.5388 12.7844 10.2C12.8896 10.1214 12.9661 10.0103 13.0022 9.8838C13.0383 9.75732 13.0319 9.62247 12.984 9.5C13.0837 9.4 12.984 9.3 12.984 9.2C12.984 9.1 12.7844 8.9 12.6846 8.9C12.5782 8.79916 12.4528 8.72068 12.3157 8.66915C12.1786 8.61763 12.0326 8.59412 11.8863 8.6C11.1146 8.68082 10.3675 8.91904 9.69102 9.3L8.99252 7.9C9.91314 7.30223 10.989 6.98922 12.0859 7C12.844 6.9846 13.5841 7.23185 14.1814 7.7C14.4596 7.8522 14.6726 8.1012 14.7801 8.4C14.9414 8.70708 15.0107 9.05436 14.9797 9.4C14.9862 9.81934 14.883 10.2331 14.6803 10.6C14.3589 11.071 13.9528 11.4779 13.4829 11.8L12.5848 12.5C12.5047 12.6893 12.4705 12.8949 12.485 13.1V13.6H10.6889ZM12.485 15L12.0859 14.8H11.5869C11.4406 14.7941 11.2946 14.8176 11.1576 14.8692C11.0205 14.9207 10.895 14.9992 10.7887 15.1C10.6855 15.2116 10.6163 15.3504 10.5891 15.5C10.5097 15.6173 10.4744 15.759 10.4893 15.9C10.4738 16.0728 10.5084 16.2465 10.5891 16.4C10.6163 16.5496 10.6855 16.6884 10.7887 16.8C10.895 16.9008 11.0205 16.9793 11.1576 17.0308C11.2946 17.0824 11.4406 17.1059 11.5869 17.1H12.0859L12.485 16.9C12.6733 16.6372 12.7777 16.3234 12.7844 16C12.821 15.8215 12.8129 15.6367 12.7606 15.4621C12.7084 15.2876 12.6137 15.1288 12.485 15V15Z'),
	// calendar:				(size: 24 24, path: 'M19,3h-1V1h-2v2H8V1H6v2H5C3.9,3,3,3.9,3,5l0,14c0,1.1,0.9,2,2,2h14c1.1,0,2-0.9,2-2V5C21,3.9,20.1,3,19,3z M19,19H5V8h14V19z M7,10h4v4H7V10z'),
	// people:					(size: 24 24, path: 'M16.75 7.23529C16.75 9.57529 14.8481 11.4706 12.5 11.4706C10.1519 11.4706 8.25 9.57529 8.25 7.23529C8.25 4.89529 10.1519 3 12.5 3C14.8481 3 16.75 4.89529 16.75 7.23529ZM21 21C21 16.3218 17.1944 12.5294 12.5 12.5294C7.80558 12.5294 4 16.3218 4 21H21Z'),
	// vote:					(size: 24 24, path: 'M22,12l-2.1-5.8c0-0.2-0.2-0.3-0.3-0.5c-0.2-0.1-0.4-0.2-0.6-0.2h-2.8V0.9c0-0.1,0-0.2,0-0.4c0-0.1-0.1-0.2-0.2-0.3c-0.1-0.1-0.2-0.2-0.3-0.2c-0.1,0-0.3-0.1-0.4,0h-6C8.9,0,8.7,0.1,8.5,0.3C8.3,0.4,8.2,0.7,8.2,0.9v4.7H5.1c-0.2,0-0.4,0-0.6,0.2C4.3,5.9,4.2,6,4.1,6.2l-2,5.8c0,0-0.1,0.1-0.1,0.1c0,0,0,0.1,0,0.1v6.8c0,0.2,0.1,0.4,0.3,0.6S2.7,20,3,20h18c0.3,0,0.5-0.1,0.7-0.3c0.2-0.2,0.3-0.4,0.3-0.6V12z M10.2,4.6c0.1-0.1,0.2-0.1,0.4-0.1c0.1,0,0.3,0,0.3,0.1l0.8,0.6l1.8-1.7c0-0.1,0.1-0.1,0.2-0.1c0.1,0,0.1,0,0.2-0.1c0.1,0,0.1,0,0.2,0c0.1,0,0.1,0.1,0.2,0.1c0.1,0,0.1,0.1,0.1,0.2c0,0.1,0,0.1,0,0.2c0,0.1,0,0.1-0.1,0.2c0,0.1-0.1,0.1-0.1,0.1l-2.1,2.1l-0.4,0.2l-0.3-0.2l-1.2-1c-0.1-0.1-0.1-0.2-0.1-0.3C10.1,4.8,10.1,4.7,10.2,4.6z M5.8,7.4h2.4v1.2h-1c-0.3,0-0.5,0.1-0.7,0.3C6.3,9,6.2,9.2,6.2,9.5c0,0.2,0.1,0.4,0.3,0.6c0.2,0.2,0.4,0.3,0.7,0.3h10c0.3,0,0.5-0.1,0.7-0.3c0.2-0.2,0.3-0.4,0.3-0.6c0-0.1,0-0.2,0-0.4c0-0.1-0.1-0.2-0.2-0.3c-0.1-0.1-0.2-0.2-0.3-0.2c-0.1,0-0.3-0.1-0.4,0h-1V7.4h2l1.4,4H4.4L5.8,7.4z M4,18.2v-5h16v5H4z'),
	// check:					(size: 24 24, path: 'M18 8.24253L10.4674 17L6 12.4986L7.52176 11.151L10.3551 14.0059L16.3811 7L18 8.24253Z'),
	// home:					(size: 24 24, path: 'M12 3L21 12V20.4142H19V12.8284L12 5.82843L5 12.8284V20.4142H3V12L12 3ZM11 20.4142V14.0142H13V20.4142H11Z'),
	// menu:					(size: 24 24, path: 'M21.1875 3.75H2.8125C2.70937 3.75 2.625 3.83437 2.625 3.9375V5.4375C2.625 5.54062 2.70937 5.625 2.8125 5.625H21.1875C21.2906 5.625 21.375 5.54062 21.375 5.4375V3.9375C21.375 3.83437 21.2906 3.75 21.1875 3.75ZM21.1875 18.375H2.8125C2.70937 18.375 2.625 18.4594 2.625 18.5625V20.0625C2.625 20.1656 2.70937 20.25 2.8125 20.25H21.1875C21.2906 20.25 21.375 20.1656 21.375 20.0625V18.5625C21.375 18.4594 21.2906 18.375 21.1875 18.375ZM21.1875 11.0625H2.8125C2.70937 11.0625 2.625 11.1469 2.625 11.25V12.75C2.625 12.8531 2.70937 12.9375 2.8125 12.9375H21.1875C21.2906 12.9375 21.375 12.8531 21.375 12.75V11.25C21.375 11.1469 21.2906 11.0625 21.1875 11.0625Z'),
	// close:					(size: 24 24, path: 'M10.5382 12L3 4.46179L4.46179 3L12 10.5382L19.5382 3L21 4.46179L13.4618 12L21 19.5382L19.5382 21L12 13.4618L4.46179 21L3 19.5382L10.5382 12Z'),
	// cancel:					(size: 24 24, path: 'M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z'),
	// expand-more:			(size: 24 24, path: 'M16.59 9L12 13.3266L7.41 9L6 10.332L12 16L18 10.332L16.59 9Z'),

	// chevron-top:			(size: 24 24, path: 'M18.295 13.9631L16.885 15.295L12.295 10.9685L7.70498 15.295L6.29498 13.9631L12.295 8.29504L18.295 13.9631Z'),
	// chevron-down:			(size: 24 24, path: 'M16.59 9L12 13.3266L7.41 9L6 10.332L12 16L18 10.332L16.59 9Z'),
	// chevron-left:			(size: 24 24, path: 'M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12l4.58-4.59z'),
	// chevron-right:			(size: 24 24, path: 'M9.99997 6L8.58997 7.41L13.17 12L8.58997 16.59L9.99997 18L16 12L9.99997 6Z'),

	// statics:				(size: 48 48, path: 'M17.9388 27.8087H15.313C15.0841 27.8082 14.8575 27.8535 14.6459 27.9419C14.4344 28.0304 14.2421 28.1602 14.08 28.3241C13.747 28.6578 13.5547 29.1095 13.5435 29.5841V37.0487C13.5547 37.5233 13.747 37.975 14.08 38.3087C14.2421 38.4725 14.4344 38.6024 14.6459 38.6909C14.8575 38.7793 15.0841 38.8246 15.313 38.8241H17.9388C18.1701 38.8335 18.4008 38.7946 18.6165 38.7096C19.0408 38.5277 19.3784 38.1853 19.5577 37.755C19.6538 37.5351 19.7081 37.2986 19.7177 37.0582V29.5937C19.7081 29.3532 19.6538 29.1168 19.5577 28.8968C19.466 28.6777 19.3315 28.4796 19.1623 28.3145C18.9937 28.1506 18.7956 28.021 18.5788 27.9328C18.3631 27.8478 18.1324 27.8087 17.9012 27.8182L17.9388 27.8087ZM18.3153 37.0487C18.3242 37.096 18.3242 37.1445 18.3153 37.1918C18.2983 37.2373 18.2689 37.2771 18.2306 37.3064C18.1958 37.3406 18.1541 37.3667 18.1082 37.3827C18.0616 37.3922 18.0137 37.3922 17.9671 37.3827H15.3412C15.2978 37.3926 15.2528 37.3926 15.2094 37.3827C15.1327 37.3427 15.0701 37.2793 15.0306 37.2014C15.0227 37.1572 15.0227 37.1119 15.0306 37.0677V29.6032C15.0305 29.5569 15.0396 29.5111 15.0574 29.4684C15.0752 29.4258 15.1013 29.3872 15.1341 29.355C15.1974 29.2935 15.2818 29.2593 15.3694 29.2595H17.9953C18.0413 29.2455 18.0905 29.2455 18.1365 29.2595C18.1817 29.2722 18.2236 29.295 18.2589 29.3264C18.2954 29.3612 18.3242 29.4035 18.3435 29.4505C18.3524 29.4978 18.3524 29.5464 18.3435 29.5937L18.3153 37.0487ZM30.0236 3H10.4847C10.1582 3.00137 9.83511 3.06875 9.53453 3.19823C9.23395 3.32771 8.96187 3.5167 8.73415 3.7541C8.26256 4.23637 7.99856 4.8885 8.00001 5.56773V42.4323C7.99856 43.1115 8.26256 43.7636 8.73415 44.2459C8.96056 44.4851 9.23238 44.6752 9.53327 44.8048C9.83415 44.9344 10.1578 45.0008 10.4847 45H37.5153C37.8434 44.9999 38.1682 44.9332 38.4705 44.8037C38.7728 44.6741 39.0465 44.4845 39.2753 44.2459C39.74 43.7598 39.9999 43.1094 40 42.4323V13.3282L30.0236 3ZM30.4471 5.51999L38.0423 13.3759H30.4471V5.51999ZM38.5695 42.4323C38.5674 42.7209 38.4562 42.9976 38.2588 43.2055C38.1616 43.3053 38.0458 43.3845 37.9182 43.4386C37.7906 43.4927 37.6536 43.5205 37.5153 43.5205H10.4847C10.2057 43.5184 9.93873 43.4053 9.74122 43.2055C9.54385 42.9976 9.43266 42.7209 9.43061 42.4323V5.56773C9.43115 5.28168 9.54275 5.00733 9.74122 4.80408C9.8373 4.7021 9.95262 4.62082 10.0804 4.56506C10.2081 4.5093 10.3457 4.48021 10.4847 4.47953H29.0165V13.5764C29.0159 13.7446 29.048 13.9112 29.111 14.0669C29.174 14.2225 29.2666 14.3639 29.3836 14.4832C29.4969 14.603 29.6327 14.6985 29.783 14.7641C29.9334 14.8296 30.0952 14.864 30.2588 14.865H38.5695V42.4323ZM28.5365 26.8636V36.915C28.5521 37.4289 28.7609 37.9172 29.12 38.28C29.4714 38.6385 29.9487 38.8411 30.4471 38.8432H32.7906C33.0419 38.8518 33.2921 38.8062 33.5247 38.7096C33.762 38.6213 33.9774 38.4812 34.1553 38.2991C34.3369 38.1182 34.4837 37.9045 34.5882 37.6691C34.6836 37.4288 34.7377 37.1738 34.7482 36.915V26.8636C34.7387 26.6078 34.6845 26.3558 34.5882 26.1191C34.484 25.8807 34.3372 25.6639 34.1553 25.4796C33.9723 25.304 33.7584 25.1647 33.5247 25.0691C33.2914 24.9757 33.0412 24.9334 32.7906 24.945H30.4471C30.1998 24.9377 29.9536 24.9799 29.7224 25.0691C29.4894 25.1651 29.2778 25.3075 29.1 25.4878C28.9221 25.6682 28.7818 25.8828 28.6871 26.1191C28.5903 26.3552 28.5392 26.6079 28.5365 26.8636V26.8636ZM29.9765 26.8636C29.9621 26.8008 29.9621 26.7356 29.9765 26.6728C29.996 26.6075 30.0317 26.5484 30.08 26.5009C30.1436 26.4473 30.2232 26.417 30.3059 26.415C30.3679 26.401 30.4322 26.401 30.4941 26.415H32.8377C32.9028 26.4008 32.9702 26.4008 33.0353 26.415C33.0997 26.4348 33.158 26.471 33.2047 26.52C33.2535 26.5674 33.2947 26.6222 33.3271 26.6823C33.336 26.7488 33.336 26.8162 33.3271 26.8827V36.915C33.3159 37.05 33.2555 37.176 33.1577 37.2682C33.061 37.3607 32.933 37.412 32.8 37.4114H30.4565C30.3293 37.4111 30.2074 37.3596 30.1176 37.2682C30.0321 37.1711 29.9851 37.0452 29.9859 36.915L29.9765 26.8636ZM25.2706 22.9596H22.9365C22.3939 23.0002 21.8895 23.2577 21.5341 23.6755C21.1811 24.094 20.9993 24.6336 21.0259 25.1837V36.6382C21.0066 36.9106 21.0451 37.184 21.1388 37.44C21.2257 37.6957 21.362 37.9313 21.5398 38.1329C21.7176 38.3345 21.9332 38.4981 22.1741 38.6141C22.4105 38.7373 22.6709 38.8057 22.9365 38.8146H25.2706C25.8109 38.7862 26.3183 38.5427 26.6824 38.1369C27.0519 37.7298 27.2481 37.1912 27.2282 36.6382V25.1837C27.2423 24.9052 27.204 24.6266 27.1153 24.3627C27.02 24.104 26.8797 23.8648 26.7012 23.6564C26.5173 23.4511 26.297 23.2828 26.0518 23.16C25.8056 23.0455 25.5409 22.9775 25.2706 22.9596V22.9596ZM25.7977 36.6C25.7977 36.7422 25.7437 36.8789 25.6471 36.9818C25.5981 37.033 25.5397 37.0736 25.475 37.1015C25.4104 37.1294 25.3409 37.1439 25.2706 37.1441H22.9365C22.8714 37.1586 22.804 37.1586 22.7389 37.1441C22.6761 37.1171 22.621 37.0744 22.5788 37.02C22.5324 36.971 22.4971 36.9124 22.4753 36.8482C22.4614 36.7789 22.4614 36.7075 22.4753 36.6382V25.1837C22.4614 25.1144 22.4614 25.0429 22.4753 24.9736C22.4945 24.9054 22.5301 24.8431 22.5788 24.7923C22.6184 24.7331 22.674 24.6867 22.7389 24.6586C22.7987 24.621 22.8664 24.5982 22.9365 24.5919H25.2706C25.4147 24.6075 25.5483 24.6752 25.6471 24.7827C25.7413 24.8948 25.7945 25.0364 25.7977 25.1837V36.6Z'),
	// analyze:				(size: 48 48, path: 'M41.5 24.8211C41.4373 22.8697 40.6029 21.0229 39.1799 19.6861C37.7568 18.3493 35.8615 17.6318 33.91 17.6911C32.4444 17.671 31.0041 18.0746 29.7623 18.8534C28.5205 19.6321 27.5301 20.753 26.91 22.0811V15.2211C26.9048 15.0714 26.8702 14.9241 26.8081 14.7878C26.746 14.6515 26.6576 14.5287 26.548 14.4265C26.4384 14.3244 26.3098 14.2448 26.1694 14.1924C26.029 14.14 25.8797 14.1158 25.73 14.1211H22.93C22.7786 14.1131 22.6272 14.1353 22.4845 14.1864C22.3418 14.2376 22.2108 14.3167 22.099 14.4192C21.9873 14.5216 21.8971 14.6453 21.8337 14.783C21.7704 14.9207 21.7351 15.0696 21.73 15.2211V28.3811H23.48V15.7711H25.12V28.3811H26.87V27.5611C27.4901 28.8893 28.4805 30.0101 29.7223 30.7889C30.9641 31.5677 32.4044 31.9712 33.87 31.9511C35.5322 31.9572 37.1533 31.4354 38.5 30.4611L42.5 34.8811L43.83 33.8211L39.83 29.3111C40.9105 28.0652 41.5037 26.4703 41.5 24.8211ZM33.91 30.3011C32.4104 30.3469 30.9539 29.7954 29.8607 28.7679C28.7675 27.7403 28.127 26.3207 28.08 24.8211C28.1858 23.3459 28.8466 21.9655 29.9292 20.9577C31.0118 19.95 32.436 19.3898 33.915 19.3898C35.394 19.3898 36.8182 19.95 37.9008 20.9577C38.9834 21.9655 39.6441 23.3459 39.75 24.8211C39.7267 25.5645 39.5572 26.296 39.251 26.9739C38.9449 27.6517 38.5081 28.2626 37.9658 28.7715C37.4234 29.2804 36.786 29.6775 36.0901 29.9399C35.3942 30.2024 34.6534 30.3251 33.91 30.3011ZM11.64 28.3811V22.9011H10V28.3811H8.25V22.3811C8.25389 22.2327 8.28698 22.0865 8.34739 21.9509C8.4078 21.8153 8.49434 21.6929 8.60207 21.5908C8.70979 21.4886 8.8366 21.4087 8.97523 21.3556C9.11385 21.3024 9.26159 21.2771 9.41 21.2811H12.23C12.3784 21.2771 12.5261 21.3024 12.6648 21.3556C12.8034 21.4087 12.9302 21.4886 13.0379 21.5908C13.1457 21.6929 13.2322 21.8153 13.2926 21.9509C13.353 22.0865 13.3861 22.2327 13.39 22.3811V28.3811H11.64ZM42.64 7.00112H5.33C5.03318 6.99179 4.73742 7.04104 4.45965 7.14607C4.18187 7.2511 3.92752 7.40985 3.71113 7.61324C3.49474 7.81663 3.32055 8.06067 3.19853 8.33141C3.07651 8.60215 3.00905 8.89429 3 9.19112V32.7711C3.00905 33.068 3.07651 33.3601 3.19853 33.6308C3.32055 33.9016 3.49474 34.1456 3.71113 34.349C3.92752 34.5524 4.18187 34.7111 4.45965 34.8162C4.73742 34.9212 5.03318 34.9705 5.33 34.9611H20.5V39.3511H15.25V41.0011H32.73V39.3511H28.08V34.9611H35.08V33.3211H5.33C5.25432 33.3252 5.17859 33.3141 5.10725 33.2885C5.0359 33.2629 4.97038 33.2233 4.91451 33.1721C4.85864 33.1209 4.81355 33.0591 4.78187 32.9902C4.75018 32.9214 4.73255 32.8469 4.73 32.7711V9.19112C4.73522 9.0417 4.79895 8.90031 4.90744 8.79742C5.01593 8.69454 5.16051 8.63841 5.31 8.64112H42.66C42.7349 8.63845 42.8095 8.65056 42.8797 8.67676C42.9499 8.70296 43.0142 8.74274 43.069 8.79382C43.1238 8.84491 43.168 8.90629 43.1991 8.97446C43.2301 9.04263 43.2474 9.11626 43.25 9.19112V24.5411H45V9.19112C44.9791 8.59075 44.7211 8.02312 44.2825 7.61263C43.8439 7.20213 43.2604 6.98224 42.66 7.00112H42.64ZM22.23 35.0011H26.33V39.3911H22.25L22.23 35.0011ZM18.38 28.4211V19.4211H16.73V28.4211H15.01V18.7911C15.0139 18.6427 15.047 18.4965 15.1074 18.3609C15.1678 18.2253 15.2543 18.1029 15.3621 18.0008C15.4698 17.8986 15.5966 17.8187 15.7352 17.7656C15.8739 17.7124 16.0216 17.6871 16.17 17.6911H18.99C19.1384 17.6871 19.2861 17.7124 19.4248 17.7656C19.5634 17.8187 19.6902 17.8986 19.7979 18.0008C19.9057 18.1029 19.9922 18.2253 20.0526 18.3609C20.113 18.4965 20.1461 18.6427 20.15 18.7911V28.3811L18.38 28.4211Z'),
	// survey:					(size: 48 48, path: 'M36.9123 45H11.0877C10.2688 45 9.48343 44.6872 8.90437 44.1304C8.32531 43.5735 8 42.8183 8 42.0308V10.7198C8 10.3299 8.07987 9.94378 8.23504 9.58355C8.39021 9.22331 8.61765 8.896 8.90437 8.62029C9.19109 8.34458 9.53148 8.12587 9.9061 7.97666C10.2807 7.82744 10.6822 7.75064 11.0877 7.75064H16.9825V9.37018H11.0877C10.7155 9.37018 10.3585 9.51237 10.0953 9.76547C9.83208 10.0186 9.68421 10.3619 9.68421 10.7198V42.0308C9.68421 42.3888 9.83208 42.7321 10.0953 42.9852C10.3585 43.2383 10.7155 43.3805 11.0877 43.3805H36.9123C37.2845 43.3805 37.6415 43.2383 37.9047 42.9852C38.1679 42.7321 38.3158 42.3888 38.3158 42.0308V10.7198C38.3158 10.5426 38.2795 10.3671 38.209 10.2033C38.1384 10.0396 38.035 9.8908 37.9047 9.76547C37.7744 9.64015 37.6197 9.54074 37.4494 9.47291C37.2791 9.40509 37.0966 9.37018 36.9123 9.37018H31.0175V7.75064H36.9123C37.7312 7.75064 38.5166 8.06346 39.0956 8.62029C39.6747 9.17711 40 9.93233 40 10.7198V42.0308C40 42.8183 39.6747 43.5735 39.0956 44.1304C38.5166 44.6872 37.7312 45 36.9123 45ZM31.0175 7.37275V9.53213C31.0175 10.0333 30.8105 10.5138 30.442 10.8682C30.0735 11.2225 29.5738 11.4216 29.0526 11.4216H18.9474C18.4262 11.4216 17.9265 11.2225 17.558 10.8682C17.1895 10.5138 16.9825 10.0333 16.9825 9.53213V7.37275C16.9825 6.87163 17.1895 6.39104 17.558 6.0367C17.9265 5.68236 18.4262 5.48329 18.9474 5.48329H20.0702L20.407 4.61954C20.8 3.75578 21.1368 3 22.3158 3H25.6842C26.807 3 27.0877 3.59383 27.4807 4.34961L27.593 4.61954L27.9298 5.48329H29.0526C29.5738 5.48329 30.0735 5.68236 30.442 6.0367C30.8105 6.39104 31.0175 6.87163 31.0175 7.37275ZM29.3333 7.37275C29.3333 7.30116 29.3038 7.23251 29.2511 7.18189C29.1985 7.13127 29.1271 7.10283 29.0526 7.10283H26.807L25.9649 5.1054C25.877 4.94933 25.8019 4.78688 25.7404 4.61954H22.2597L21.9789 5.21337L21.193 7.10283H18.9474C18.8729 7.10283 18.8015 7.13127 18.7489 7.18189C18.6962 7.23251 18.6667 7.30116 18.6667 7.37275V9.53213C18.6667 9.60372 18.6962 9.67238 18.7489 9.723C18.8015 9.77362 18.8729 9.80206 18.9474 9.80206H29.0526C29.1271 9.80206 29.1985 9.77362 29.2511 9.723C29.3038 9.67238 29.3333 9.60372 29.3333 9.53213V7.37275ZM24 6.13111C23.8511 6.13111 23.7083 6.18798 23.603 6.28922C23.4977 6.39046 23.4386 6.52777 23.4386 6.67095C23.4386 6.81413 23.4977 6.95144 23.603 7.05268C23.7083 7.15392 23.8511 7.2108 24 7.2108C24.1489 7.2108 24.2917 7.15392 24.397 7.05268C24.5023 6.95144 24.5614 6.81413 24.5614 6.67095C24.5614 6.52777 24.5023 6.39046 24.397 6.28922C24.2917 6.18798 24.1489 6.13111 24 6.13111ZM16.7018 21.5707C16.5838 21.5771 16.466 21.5559 16.3584 21.5089C16.2508 21.4619 16.1567 21.3905 16.0842 21.3008L14.6807 19.7892C14.5301 19.622 14.452 19.4056 14.4625 19.1846C14.4729 18.9636 14.5711 18.7549 14.7368 18.6015C14.9135 18.479 15.1306 18.4224 15.3474 18.4422C15.5643 18.4621 15.7663 18.5571 15.9158 18.7095L16.7018 19.5733L18.6105 17.5219C18.6787 17.4268 18.7673 17.3469 18.8702 17.2875C18.9732 17.2281 19.0881 17.1905 19.2074 17.1773C19.3267 17.1641 19.4476 17.1756 19.5618 17.2111C19.6761 17.2465 19.7812 17.305 19.8701 17.3826C19.9589 17.4603 20.0294 17.5553 20.077 17.6614C20.1245 17.7674 20.1479 17.882 20.1455 17.9974C20.1432 18.1129 20.1153 18.2265 20.0635 18.3307C20.0118 18.4349 19.9375 18.5272 19.8456 18.6015L17.3193 21.3008C17.2468 21.3905 17.1527 21.4619 17.0451 21.5089C16.9376 21.5559 16.8197 21.5771 16.7018 21.5707ZM17.3193 26.5913L19.8456 23.892C19.9843 23.7199 20.0549 23.5059 20.0446 23.2883C20.0343 23.0707 19.9439 22.8637 19.7895 22.7044C19.6248 22.563 19.409 22.4894 19.1885 22.4995C18.968 22.5096 18.7605 22.6026 18.6105 22.7584L16.7018 24.8098L15.9158 23.946C15.7597 23.8198 15.5614 23.7524 15.3575 23.7561C15.1537 23.7599 14.9582 23.8347 14.8073 23.9666C14.6564 24.0985 14.5605 24.2785 14.5372 24.4733C14.5139 24.6681 14.5649 24.8643 14.6807 25.0257L16.0842 26.5373C16.1965 26.7532 16.4211 26.8072 16.7018 26.8612C16.9364 26.8523 17.1581 26.7554 17.3193 26.5913ZM17.3193 31.8278L19.8456 29.1285C19.9926 28.9702 20.0691 28.7627 20.0586 28.5507C20.0481 28.3386 19.9515 28.139 19.7895 27.9949C19.7118 27.9177 19.6179 27.8573 19.5141 27.8178C19.4103 27.7782 19.2989 27.7604 19.1873 27.7655C19.0758 27.7706 18.9666 27.7986 18.8672 27.8474C18.7677 27.8963 18.6802 27.9649 18.6105 28.0488L16.7018 30.0463L15.9158 29.1825C15.7597 29.0563 15.5614 28.9889 15.3575 28.9926C15.1537 28.9964 14.9582 29.0712 14.8073 29.2031C14.6564 29.335 14.5605 29.515 14.5372 29.7098C14.5139 29.9046 14.5649 30.1008 14.6807 30.2622L16.0842 31.8278C16.1567 31.9175 16.2508 31.9889 16.3584 32.0359C16.466 32.0829 16.5838 32.1041 16.7018 32.0977C16.9364 32.0888 17.1581 31.9919 17.3193 31.8278ZM32.3649 20.2211H22.8772C22.6539 20.2211 22.4397 20.1358 22.2817 19.9839C22.1238 19.832 22.0351 19.6261 22.0351 19.4113C22.0351 19.1965 22.1238 18.9906 22.2817 18.8387C22.4397 18.6869 22.6539 18.6015 22.8772 18.6015H32.3649C32.4755 18.6015 32.585 18.6225 32.6872 18.6632C32.7893 18.7039 32.8822 18.7635 32.9604 18.8387C33.0386 18.9139 33.1006 19.0032 33.1429 19.1014C33.1852 19.1997 33.207 19.305 33.207 19.4113C33.207 19.5177 33.1852 19.6229 33.1429 19.7212C33.1006 19.8194 33.0386 19.9087 32.9604 19.9839C32.8822 20.0591 32.7893 20.1187 32.6872 20.1594C32.585 20.2001 32.4755 20.2211 32.3649 20.2211ZM33.207 24.7018C33.207 24.487 33.1183 24.2811 32.9604 24.1292C32.8024 23.9773 32.5883 23.892 32.3649 23.892H22.8772C22.6539 23.892 22.4397 23.9773 22.2817 24.1292C22.1238 24.2811 22.0351 24.487 22.0351 24.7018C22.0351 24.9166 22.1238 25.1225 22.2817 25.2744C22.4397 25.4263 22.6539 25.5116 22.8772 25.5116H32.3649C32.4755 25.5116 32.585 25.4906 32.6872 25.4499C32.7893 25.4092 32.8822 25.3496 32.9604 25.2744C33.0386 25.1992 33.1006 25.1099 33.1429 25.0117C33.1852 24.9134 33.207 24.8081 33.207 24.7018ZM33.207 29.9383C33.207 29.7235 33.1183 29.5176 32.9604 29.3657C32.8024 29.2139 32.5883 29.1285 32.3649 29.1285H22.8772C22.6539 29.1285 22.4397 29.2139 22.2817 29.3657C22.1238 29.5176 22.0351 29.7235 22.0351 29.9383C22.0351 30.1531 22.1238 30.359 22.2817 30.5109C22.4397 30.6628 22.6539 30.7481 22.8772 30.7481H32.3649C32.4755 30.7481 32.585 30.7271 32.6872 30.6864C32.7893 30.6457 32.8822 30.5861 32.9604 30.5109C33.0386 30.4357 33.1006 30.3464 33.1429 30.2482C33.1852 30.1499 33.207 30.0446 33.207 29.9383Z'),

	// arrow-top:				(size: 24 24, path: 'M17.4,9c0.4-0.4,0.4-1,0-1.4l-5.5-5.5L6.4,7.6C6,8,6,8.6,6.4,9c0.4,0.4,1,0.4,1.4,0l3.1-3.1v14.6c0,0.6,0.4,1,1,1c0.6,0,1-0.4,1-1V5.9L16,9C16.3,9.4,17,9.4,17.4,9z'),
	// arrow-down:				(size: 24 24, path: 'M17.367 15.0177C17.7575 15.4083 17.7575 16.0414 17.367 16.432L11.8995 21.8995L6.43192 16.432C6.0414 16.0414 6.0414 15.4083 6.43192 15.0177C6.82245 14.6272 7.45561 14.6272 7.84614 15.0177L10.8995 18.0711L10.8995 3.51472C10.8995 2.96243 11.3472 2.51472 11.8995 2.51472C12.4517 2.51472 12.8995 2.96243 12.8995 3.51472L12.8995 18.0711L15.9528 15.0177C16.3433 14.6272 16.9765 14.6272 17.367 15.0177Z'),
	// arrow-left:				(size: 24 24, path: 'M8.9,6.5c-0.4-0.4-1-0.4-1.4,0L2,12l5.5,5.5c0.4,0.4,1,0.4,1.4,0c0.4-0.4,0.4-1,0-1.4L5.8,13h14.6c0.6,0,1-0.4,1-1c0-0.6-0.4-1-1-1H5.8l3.1-3.1C9.3,7.6,9.3,6.9,8.9,6.5z'),
	// arrow-right:			(size: 24 24, path: 'M15.1183 6.53243C15.5088 6.1419 16.142 6.1419 16.5325 6.53243L22 12L16.5325 17.4675C16.142 17.858 15.5088 17.858 15.1183 17.4675C14.7278 17.077 14.7278 16.4438 15.1183 16.0533L18.1716 13L3.61524 13C3.06296 13 2.61524 12.5522 2.61524 12C2.61524 11.4477 3.06296 11 3.61524 11L18.1716 11L15.1183 7.94664C14.7278 7.55612 14.7278 6.92295 15.1183 6.53243Z'),

	// person:					(size: 24 24, path: 'M12,12c1.7,0,3-1.3,3-3s-1.3-3-3-3c-1.7,0-3,1.3-3,3S10.3,12,12,12z M12,13.5c-2,0-6,1-6,3V18h12v-1.5C18,14.5,14,13.5,12,13.5z'),
	// lock:					(size: 24 24, path: 'M16.5,9.4h-0.8V7.9c0-2.1-1.7-3.8-3.8-3.8S8.2,5.8,8.2,7.9v1.5H7.5C6.7,9.4,6,10,6,10.9v7.5c0,0.8,0.7,1.5,1.5,1.5h9c0.8,0,1.5-0.7,1.5-1.5v-7.5C18,10,17.3,9.4,16.5,9.4z M12,16.1c-0.8,0-1.5-0.7-1.5-1.5s0.7-1.5,1.5-1.5s1.5,0.7,1.5,1.5S12.8,16.1,12,16.1z M14.3,9.4H9.7V7.9c0-1.3,1-2.3,2.3-2.3c1.3,0,2.3,1,2.3,2.3V9.4z'),

);

// Create system icon (RGB는 익스플로러를 대응하기 위해 사용 합니다.)
@function icon($name, $color, $backgroundColor: &) {
	$size: map-get($symbol-list, $name, 'size');
	$path: map-get($symbol-list, $name, 'path');

	@if $backgroundColor != & {
		$data: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 #{$size}'%3E %3Cpath fill='rgba(" + red($backgroundColor) + "," + green($backgroundColor) + "," + blue($backgroundColor) + ",1)' d='M0,0h24v24H0V0z'/%3E %3Cpath fill='rgba(" + red($color) + "," + green($color) + "," + blue($color) + ",1)' d='#{$path}'/%3E%3C/svg%3E";
		@return url($data);
	} @else {
		$data: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 #{$size}'%3E %3Cpath fill='none' d='M0,0h24v24H0V0z'/%3E %3Cpath fill='rgba(" + red($color) + "," + green($color) + "," + blue($color) + ",1)' d='#{$path}'/%3E%3C/svg%3E";
		@return url($data);
	}
}