@import '_variables';
@import '_mixin';

.local-util {
	position: fixed;
	z-index: 50;
	right: 16rem;
	bottom: 16rem;

	&.active {
		position: absolute;
	}

	// laptop
	@include respond-above(x-large) {
		right: 48rem;
		bottom: 48rem;

		svg {
			width: 64rem;
			height: 64rem;
		}
	}

	.goto-top {
		svg {
			display: block;
			width: 48rem;
			height: 48rem;
		
			path.track,
			path.value {
				fill: none;
			}
	
			path.track {
				stroke-width: 2px;
				stroke: color(base, 07, 1);
				fill-opacity: 0;
				transition: stroke 0.25s ease;
			}
	
			path.value {
				stroke-width: 2px;
				stroke: color(primary, 01);
			}
	
			path.arrow {
				transform: rotate(0deg);
				transform-origin: center;
				transition: transform 0.25s ease;
			}
		}
	
		&:not(.active) {
			pointer-events: none;
	
			svg {
				path.track {
					stroke: color(base, 07, 0);
				}
				path.arrow {
					transform: rotate(540deg);
				}
			}
		}
	}
}