<!-- google-data field -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="./../../assets/js/chart.template.js"></script>
<!-- section -->
<div class="section data-field">
	<div class="section-head">
		<h4 class="section-title"><span class="section-name">다담리테일 성장성 추이</span></h4>
	</div>
	<div class="section-body" data-display-column="2">
		<!-- subsection -->
		<div class="subsection type-chart">
			<div class="subsection-head">
				<h5 class="subsection-title"><span class="subsection-name">1. 총자본증가율</span></h5>
			</div>
			<div class="subsection-body">
				<div class="chart-area" id="drawChart_0101"></div>
				<script type="text/javascript">
					google.charts.setOnLoadCallback(function() {
						drawLineChart('drawChart_0101', google.visualization.arrayToDataTable([
							['Year', '다담리테일 총자본증가율(%)'],
							['2017',  24.58],
							['2018',  16],
							['2019',  20],
						]), 1);
					});
				</script>
			</div>
		</div>
		<!-- //subsection -->
		<!-- subsection -->
		<div class="subsection type-chart">
			<div class="subsection-head">
				<h5 class="subsection-title"><span class="subsection-name">2. 유형자산증가율</span></h5>
			</div>
			<div class="subsection-body">
				<div class="chart-area" id="drawChart_0102"></div>
				<script type="text/javascript">
					google.charts.setOnLoadCallback(function() {
						drawLineChart('drawChart_0102', google.visualization.arrayToDataTable([
							['Year', '다담리테일 유형자산증가율(%)'],
							['2017',  24.58],
							['2018',  16],
							['2019',  20],
						]), 2);
					});
				</script>
			</div>
		</div>
		<!-- //subsection -->
		<!-- subsection -->
		<div class="subsection type-chart">
			<div class="subsection-head">
				<h5 class="subsection-title"><span class="subsection-name">3. 자기자본증가율</span></h5>
			</div>
			<div class="subsection-body">
				<div class="chart-area" id="drawChart_0103"></div>
				<script type="text/javascript">
					google.charts.setOnLoadCallback(function() {
						drawLineChart('drawChart_0103', google.visualization.arrayToDataTable([
							['Year', '다담리테일 자기자본증가율(%)'],
							['2017',  24.58],
							['2018',  16],
							['2019',  20],
						]), 3);
					});
				</script>
			</div>
		</div>
		<!-- //subsection -->
		<!-- subsection -->
		<div class="subsection type-chart">
			<div class="subsection-head">
				<h5 class="subsection-title"><span class="subsection-name">4. 매출액증가율</span></h5>
			</div>
			<div class="subsection-body">
				<div class="chart-area" id="drawChart_0104"></div>
				<script type="text/javascript">
					google.charts.setOnLoadCallback(function() {
						drawLineChart('drawChart_0104', google.visualization.arrayToDataTable([
							['Year', '다담리테일 매출액증가율(%)'],
							['2017',  24.58],
							['2018',  16],
							['2019',  20],
						]), 5);
					});
				</script>
			</div>
		</div>
		<!-- //subsection -->
		<!-- subsection -->
		<div class="subsection type-status">
			<div class="subsection-head">
				<h5 class="subsection-title"><span class="subsection-name">기업 데이터 추이</span></h5>
			</div>
			<div class="subsection-body">
				<!-- data-table -->
				<div class="data-table module-c style-a type-a medium">
					<table>
						<caption>비교지표</caption>
						<colgroup>
							<col style="width: 16em;" />
							<col />
							<col />
							<col />
						</colgroup>
						<thead>
							<tr>
								<th scope="col">지표항목</th>
								<th scope="col">2017</th>
								<th scope="col">2018</th>
								<th scope="col">2019</th>
							</tr>
						</thead>
						<tbody style="text-align: right;">
							<tr>
								<td style="text-align: left;">1. 총자본증가율(%)</td>
								<td>22.67</td>
								<td>16.57</td>
								<td>16.57</td>
							</tr>
							<tr>
								<td style="text-align: left;">2. 유형자산증가율(%)</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td style="text-align: left;">3. 자기자본증가율(%)</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td style="text-align: left;">4. 매출액증가율(%)</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- //data-table -->
			</div>
		</div>
		<!-- //subsection -->
	</div>
</div>
<!-- //section -->
<!-- section -->
<div class="section data-field">
	<div class="section-head">
		<h4 class="section-title"><span class="section-name">다담리테일/전국 도매 및 상품 중개업 평균 성장성 비교</span></h4>
	</div>
	<div class="section-body" data-display-column="2">
		<!-- subsection -->
		<div class="subsection type-chart">
			<div class="subsection-head">
				<h5 class="subsection-title"><span class="subsection-name">1. 총자본증가율</span></h5>
			</div>
			<div class="subsection-body">
				<div class="chart-area" id="drawChart_0201"></div>
				<script type="text/javascript">
					google.charts.setOnLoadCallback(function() {
						drawBarChart('drawChart_0201', google.visualization.arrayToDataTable([
							['Year', '다담리테일 총자본증가율(%)', '전국 도매 및 상품 중개업 평균 총자본증가율(%)'],
							['2017', 1000, 600],
							['2018', 1170, 600],
							['2019', 660,  600],
						]), 1);
					});
				</script>
			</div>
		</div>
		<!-- //subsection -->
		<!-- subsection -->
		<div class="subsection type-chart">
			<div class="subsection-head">
				<h5 class="subsection-title"><span class="subsection-name">2. 유형자산증가율</span></h5>
			</div>
			<div class="subsection-body">
				<div class="chart-area" id="drawChart_0202"></div>
				<script type="text/javascript">
					google.charts.setOnLoadCallback(function() {
						drawBarChart('drawChart_0202', google.visualization.arrayToDataTable([
							['Year', '다담리테일 유형자산증가율(%)', '전국 도매 및 상품 중개업 평균 유형자산증가율(%)'],
							['2017', 1000, 600],
							['2018', 1170, 600],
							['2019', 660,  600],
						]), 2);
					});
				</script>
			</div>
		</div>
		<!-- //subsection -->
		<!-- subsection -->
		<div class="subsection type-chart">
			<div class="subsection-head">
				<h5 class="subsection-title"><span class="subsection-name">3. 자기자본증가율</span></h5>
			</div>
			<div class="subsection-body">
				<div class="chart-area" id="drawChart_0203"></div>
				<script type="text/javascript">
					google.charts.setOnLoadCallback(function() {
						drawBarChart('drawChart_0203', google.visualization.arrayToDataTable([
							['Year', '다담리테일 자기자본증가율(%)', '전국 도매 및 상품 중개업 평균 자기자본증가율(%)'],
							['2017', 1000, 600],
							['2018', 1170, 600],
							['2019', 660,  600],
						]), 3);
					});
				</script>
			</div>
		</div>
		<!-- //subsection -->
		<!-- subsection -->
		<div class="subsection type-chart">
			<div class="subsection-head">
				<h5 class="subsection-title"><span class="subsection-name">4. 매출액증가율</span></h5>
			</div>
			<div class="subsection-body">
				<div class="chart-area" id="drawChart_0204"></div>
				<script type="text/javascript">
					google.charts.setOnLoadCallback(function() {
						drawBarChart('drawChart_0204', google.visualization.arrayToDataTable([
							['Year', '다담리테일 매출액증가율(%)', '전국 도매 및 상품 중개업 평균 매출액증가율(%)'],
							['2017', 1000, 600],
							['2018', 1170, 600],
							['2019', 660,  600],
						]), 5);
					});
				</script>
			</div>
		</div>
		<!-- //subsection -->
		<!-- subsection -->
		<div class="subsection type-status">
			<div class="subsection-head">
				<h5 class="subsection-title"><span class="subsection-name">기업/전국 비교 지표</span></h5>
			</div>
			<div class="subsection-body">
				<p class="para type-b normal-03 x-small"><span class="em accent-01">*</span>비교지표 : 전국/도매 및 상품중개업</p>
				<!-- data-table -->
				<div class="data-table module-c style-a type-a medium">
					<table>
						<caption>비교지표</caption>
						<colgroup>
							<col style="width: 16em;" />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
						</colgroup>
						<thead>
							<tr>
								<th scope="col" rowspan="2">지표항목</th>
								<th scope="col" colspan="2">2017</th>
								<th scope="col" colspan="2">2018</th>
								<th scope="col" colspan="2">2019</th>
							</tr>
							<tr>
								<th scope="col">다담리테일</th>
								<th scope="col">비교지표</th>
								<th scope="col">다담리테일</th>
								<th scope="col">비교지표</th>
								<th scope="col">다담리테일</th>
								<th scope="col">비교지표</th>
							</tr>
						</thead>
						<tbody style="text-align: right;">
							<tr>
								<td style="text-align: left;">1. 총자본증가율(%)</td>
								<td>22.67</td>
								<td>16.57</td>
								<td>32.77</td>
								<td>18.29</td>
								<td>19.83</td>
								<td>20.67</td>
							</tr>
							<tr>
								<td style="text-align: left;">2. 유형자산증가율(%)</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td style="text-align: left;">3. 자기자본증가율(%)</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td style="text-align: left;">4. 매출액증가율(%)</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- //data-table -->
			</div>
		</div>
		<!-- //subsection -->
	</div>
</div>
<!-- //section -->
<!-- section -->
<div class="section data-field">
	<div class="section-head">
		<h4 class="section-title"><span class="section-name">다담리테일/광주광역시 도매 및 상품중개업 평균 성장성 비교</span></h4>
	</div>
	<div class="section-body" data-display-column="2">
		<!-- subsection -->
		<div class="subsection type-chart">
			<div class="subsection-head">
				<h5 class="subsection-title"><span class="subsection-name">1. 총자본증가율</span></h5>
			</div>
			<div class="subsection-body">
				<div class="chart-area" id="drawChart_0301"></div>
				<script type="text/javascript">
					google.charts.setOnLoadCallback(function() {
						drawBarChart('drawChart_0301', google.visualization.arrayToDataTable([
							['Year', '다담리테일 총자본증가율(%)', '광주광역시 도매 및 상품중개업 평균 총자본증가율(%)'],
							['2017', 1000, 600],
							['2018', 1170, 600],
							['2019', 660,  600],
						]), 1);
					});
				</script>
			</div>
		</div>
		<!-- //subsection -->
		<!-- subsection -->
		<div class="subsection type-chart">
			<div class="subsection-head">
				<h5 class="subsection-title"><span class="subsection-name">2. 유형자산증가율</span></h5>
			</div>
			<div class="subsection-body">
				<div class="chart-area" id="drawChart_0302"></div>
				<script type="text/javascript">
					google.charts.setOnLoadCallback(function() {
						drawBarChart('drawChart_0302', google.visualization.arrayToDataTable([
							['Year', '다담리테일 유형자산증가율(%)', '광주광역시 도매 및 상품중개업 평균 유형자산증가율(%)'],
							['2017', 1000, 600],
							['2018', 1170, 600],
							['2019', 660,  600],
						]), 2);
					});
				</script>
			</div>
		</div>
		<!-- //subsection -->
		<!-- subsection -->
		<div class="subsection type-chart">
			<div class="subsection-head">
				<h5 class="subsection-title"><span class="subsection-name">3. 자기자본증가율</span></h5>
			</div>
			<div class="subsection-body">
				<div class="chart-area" id="drawChart_0303"></div>
				<script type="text/javascript">
					google.charts.setOnLoadCallback(function() {
						drawBarChart('drawChart_0303', google.visualization.arrayToDataTable([
							['Year', '다담리테일 자기자본증가율(%)', '광주광역시 도매 및 상품 중개업 평균 자기자본증가율(%)'],
							['2017', 1000, 600],
							['2018', 1170, 600],
							['2019', 660,  600],
						]), 3);
					});
				</script>
			</div>
		</div>
		<!-- //subsection -->
		<!-- subsection -->
		<div class="subsection type-chart">
			<div class="subsection-head">
				<h5 class="subsection-title"><span class="subsection-name">4. 매출액증가율</span></h5>
			</div>
			<div class="subsection-body">
				<div class="chart-area" id="drawChart_0304"></div>
				<script type="text/javascript">
					google.charts.setOnLoadCallback(function() {
						drawBarChart('drawChart_0304', google.visualization.arrayToDataTable([
							['Year', '다담리테일 매출액증가율(%)', '광주광역시 도매 및 상품중개업 평균 매출액증가율(%)'],
							['2017', 1000, 600],
							['2018', 1170, 600],
							['2019', 660,  600],
						]), 5);
					});
				</script>
			</div>
		</div>
		<!-- //subsection -->
		<!-- subsection -->
		<div class="subsection type-status">
			<div class="subsection-head">
				<h5 class="subsection-title"><span class="subsection-name">기업/지역 비교 지표</span></h5>
			</div>
			<div class="subsection-body">
				<p class="para type-b normal-03 x-small"><span class="em accent-01">*</span>비교지표 : 광주광역시/도매 및 상품중개업</p>
				<!-- data-table -->
				<div class="data-table module-c style-a type-a medium">
					<table>
						<caption>비교지표</caption>
						<colgroup>
							<col style="width: 16em;" />
							<col />
							<col />
							<col />
							<col />
							<col />
							<col />
						</colgroup>
						<thead>
							<tr>
								<th scope="col" rowspan="2">지표항목</th>
								<th scope="col" colspan="2">2017</th>
								<th scope="col" colspan="2">2018</th>
								<th scope="col" colspan="2">2019</th>
							</tr>
							<tr>
								<th scope="col">다담리테일</th>
								<th scope="col">비교지표</th>
								<th scope="col">다담리테일</th>
								<th scope="col">비교지표</th>
								<th scope="col">다담리테일</th>
								<th scope="col">비교지표</th>
							</tr>
						</thead>
						<tbody style="text-align: right;">
							<tr>
								<td style="text-align: left;">1. 총자본증가율(%)</td>
								<td>22.67</td>
								<td>16.57</td>
								<td>32.77</td>
								<td>18.29</td>
								<td>19.83</td>
								<td>20.67</td>
							</tr>
							<tr>
								<td style="text-align: left;">2. 유형자산증가율(%)</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td style="text-align: left;">3. 자기자본증가율(%)</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td style="text-align: left;">4. 매출액증가율(%)</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- //data-table -->
			</div>
		</div>
		<!-- //subsection -->
	</div>
</div>
<!-- //section -->
<!--// google-data field -->