<% if(itemType === 'a') { %>
<div class="post-list">
	<% for(var i = 0; i < iteration; i++) { %>
	<li class="post-item">
		<div class="post-wrap">
			<div class="post-figure"><a href="#" class="post-thumbnail"><img src="./../../assets/images/@temp/img_receipt_01_enlarge.png" alt="" /><span class="text">확대 보기</a></div>
		</div>
	</li>
	<% } %>
</div>
<% } %>