<!-- submit-form -->
<fieldset class="submit-form data-finder">
	<legend>기업과 비교하고 싶은 <span class="em">업종 및 지역을 선택</span>해주세요.</legend>
	<div class="form-list">
		<div class="form-item">
			<div class="form-wrap">
				<div class="form-head"><label class="form-name" for="selectIndustry">업종선택</label></div>
				<div class="form-body">
					<div class="form-area">
						<span class="form select module-a style-b type-line normal-03 medium flex">
							<select class="form-elem" id="selectIndustry">
								<option>도매 및 소매업</option>
							</select>
						</span>
						<span class="form select module-a style-b type-line normal-03 medium flex">
							<select class="form-elem" title="세부 업종 선택">
								<option>도매 및 상품 중개업</option>
							</select>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="form-item">
			<div class="form-wrap">
				<div class="form-head"><label class="form-name" for="regionSelection">지역선택</label></div>
				<div class="form-body">
					<div class="form-area">
						<span class="form select module-a style-b type-line normal-03 medium" style="min-width: calc(50% - 4rem);">
							<select class="form-elem" id="regionSelection">
								<option>광주광역시</option>
							</select>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-util">
		<div class="button-area">
			<button class="btn module-b style-c type-line normal-03 small" type="submit"><span class="btn-text">조회</span></button>
		</div>
	</div>
</fieldset>
<!-- //submit-form -->