<!DOCTYPE html>
<html class="ko">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
		<meta charset="utg-8">
		<title></title>
		<link rel="stylesheet" href="../../assets/css/temp.css"/>
	</head>
	<body>
		<div id="page">
			<!-- <div class="page-head"></div> -->
			<div class="page-body">
				<div id="local">
					<div class="local-head">
						<h2 class="local-title"><span class="local-name">성장성</span></h2>
					</div>
					<div class="local-body">
						<div id="content">
							<div class="content-head">
								<h3 class="content-title"><span class="content-name">성자성</span></h3>
							</div>
							<div class="content-body">
								<div class="section">
									<div class="section-head">
										<h4 class="section-title"><span class="section-name">기업과 비교하고 싶은 <strong>업종 및 지역을 선택</strong>해주세요.</span></h4>
									</div>
									<form class="section-body">
										<fieldset class="submit-form">
											<legend>성장성</legend>
											<div class="form-list">
												<div class="form-item">
													<div class="form-wrap">
														<div class="form-head">
															<label for="" class="form-name">업종선택</label>
														</div>
														<div class="form-body">
															<div class="form-area">
																<span class="form">
																	<select name="" id="" class="form-elem">
																		<option value="">선택</option>
																	</select>
																</span>
																<span class="form">
																	<select name="" id="" class="form-elem">
																		<option value="">선택</option>
																	</select>
																</span>
															</div>
														</div>
													</div>
												</div>
												<div class="form-item">
													<div class="form-wrap">
														<div class="form-head">
															<label for="" class="form-name">지역선택</label>
														</div>
														<div class="form-body">
															<div class="form-area">
																<span class="form">
																	<select name="" id="" class="form-elem">
																		<option value="">선택</option>
																	</select>
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="local-util">
						<div class="button-display">
							<span class="button-area">
								<button class="btn" type="submit">
									<span class="btn-text">조회</span>
								</button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>